html { height: 100%; margin: 0px; padding: 0px;}
body {
    font-family: "Segoe UI";
    height: 100%;
    margin: 0px; padding: 0px;
    margin-right: 3em;
}

.sample .code {
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 0px 15px;
    font-family: "Consolas";
    font-size: 90%;
    border: 1px solid black;
}

.table table, table.table {
    width: 100%;
    padding: 5px;
    border-collapse: collapse;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.table table tbody tr > *,
	table.table tbody tr > *
{
	border-top: 1px dotted #CCC;
	padding: 5px;
}
table.table tbody tr:first-child > *
{
	border-top: 1px solid black;
}
.table table thead th, table.table thead th
{
	font-style: italic;
	font-weight: normal;
	padding: 0.3em;
	text-align: left;
}

li
{
	margin-bottom: 7px;
}

td {
    vertical-align: top;
}

.monospace {
    font-family: "Consolas";
}

.table table tr.pre-rule td,
	table.table tr.pre-rule td {
    border-bottom: 1px solid black;
    padding-bottom: 0.5em;
}

.table table tr.post-rule td,
	table.table tr.post-rule td{
    padding-top: 0.3em;
}

.caption {
    padding: 5px;
    font-style: italic;
}

.caption-label {
    font-weight: bold;
}

.remark, .minimumVersion {
    background: rgb(255,255,200);
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
}

.content {
    margin-left: 270px;
    padding-left: 30px;
    min-height: 100%;
}

div.navigation {
    font-size: 80%;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 270px;
    margin: 0px;
    height: 100%;
    background: rgb(50, 80, 150);
    border-right: 3px solid rgb(50, 80, 150);
}

div.navigation .navigation-header {
    font-size: 150%;
    padding: 0.3em 10px;
    color: white;
}

div.navigation .navigation-tree {
    padding: 10px;
    padding-left: 5px;
    overflow: auto;
    position: absolute;
    top: 3em;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: white;
}

@media handheld {
    div.navigation .navigation-tree {
        overflow: visible !important;
    }
}

div.navigation .navigation-tree > ul {
    display: none;
}

div.navigation .navigation-tree > ul ul {
    margin-left: -5px;
}

.active > span, .active > a {
    font-weight: bold;
}

.navigation li {
    padding: 0px;
    margin: 0px;
}

h2 .parameter {
    color: rgb(100, 150, 250);
	cursor: default;
	text-decoration: none;
}

.content .method .label {
    float: left;
}

.content .method .value {
    margin-left: 100px;
}

.content .method .description {
    margin-top: 1em;
    margin-bottom: 1em;
}

.content .method .type .value {
    font-family: 'Consolas';
}

.content .method .type {
    height: 1.5em;
    font-size: 90%;
}

.content .method h3 {
    border-bottom: 2px solid black;
}

.content {
    /* max-width: 800px; */
}

.content .method > div {
    margin-top: 5px;
}

.content .method .parameter .label {
    font-family: 'Consolas';
}

.content .method .parameter {
    font-size: 90%;
}

.content .enum table.enum td.value {
    width: 3em;
    font-family: 'Consolas';
}

.content .enum table.enum td.name {
    width: 30%;
    font-family: 'Consolas';
}

.content .struct table.struct td.type {
    width: 14em;
    font-family: 'Consolas'
}

.content .struct table.struct td.name {
    width: 30%;
    font-family: 'Consolas'
}

.content .index .contents td.name {
    width: 30%;
}

.content .index .contents td.description {
    width: 70%;
}

.header {
    padding-top: 1em;
}

.footer {
    margin-top: 5em;
    padding-bottom: 5em;
    font-size: 70%;
}

.tooltip {
    position: absolute;
    background: white;
    border: 3px solid rgb(50, 75, 125);
    top: 0;
    left: 0;
    z-index: 3;
    display: none;
    font-size: 10pt;
    color: black;
    font-weight: normal;
    padding: 0.5em;
    border-radius: 8px;
}

/* add a little margin to the icon on external links */
a[rel~=external] > .zmdi
{
	margin: 0px 3px;
}

table.enum tbody td{
	font-family: "Consolas"
}
table.table.enum thead th:first-child,
	table.table.enum tbody td:first-child
{
	width: 10%;
}

a[rel='external'] i
{
	padding-left: 2px;
	padding-right: 3px;
}
.tooltip.active
{
	display: block;
}

table.method{
	width: 100%;
}
table.method tr td:first-child
{
	width: 100px;
}
table.method tr td
{
    margin-top: 5px;
}

h3.method {
    border-bottom: 2px solid black;
}
table#sub-resources thead
{
	display: none;
}
h1
{
	font-size: 2em;
	margin: 15px 0px;
}
code.highlighter-rouge {
    background-color: lightyellow;
    display: inline-block;
    margin: 0px 3px;
    border: 1px solid gold;
    padding: 3px 7px;
}