<?xml version="1.0" encoding="utf-8"?><HelpTOCNode Title="FlagsObjectMapper Methods" Url="html/Methods_T_MFiles_VAF_Configuration_JsonMapping_Mappers_FlagsObjectMapper.htm"><HelpTOCNode Title="CanMap Method " Url="html/M_MFiles_VAF_Configuration_JsonMapping_Mappers_FlagsObjectMapper_CanMap.htm" /><HelpTOCNode Title="CreateMapping Method " Url="html/M_MFiles_VAF_Configuration_JsonMapping_Mappers_FlagsObjectMapper_CreateMapping.htm" /></HelpTOCNode>