<?xml version="1.0" encoding="utf-8"?><HelpTOCNode Title="IJsonValueMapper Methods" Url="html/Methods_T_MFiles_VAF_Configuration_JsonMapping_IJsonValueMapper.htm"><HelpTOCNode Title="CanMap Method " Url="html/M_MFiles_VAF_Configuration_JsonMapping_IJsonValueMapper_CanMap.htm" /><HelpTOCNode Title="CreateMapping Method " Url="html/M_MFiles_VAF_Configuration_JsonMapping_IJsonValueMapper_CreateMapping.htm" /></HelpTOCNode>