<?xml version="1.0" encoding="utf-8"?><HelpTOCNode Title="EnumMapper Class" Url="html/T_MFiles_VAF_Configuration_JsonMapping_Mappers_EnumMapper.htm"><HelpTOCNode Title="EnumMapper Constructor " Url="html/M_MFiles_VAF_Configuration_JsonMapping_Mappers_EnumMapper__ctor.htm" /><HelpTOCNode Title="EnumMapper Methods" Url="html/Methods_T_MFiles_VAF_Configuration_JsonMapping_Mappers_EnumMapper.htm" HasChildren="true" /></HelpTOCNode>