<?xml version="1.0" encoding="utf-8"?><HelpTOCNode Title="MFIdentifierToIDMapper Class" Url="html/T_MFiles_VAF_Configuration_JsonMapping_Mappers_MFIdentifierToIDMapper.htm"><HelpTOCNode Title="MFIdentifierToIDMapper Constructor " Url="html/Overload_MFiles_VAF_Configuration_JsonMapping_Mappers_MFIdentifierToIDMapper__ctor.htm" HasChildren="true" /><HelpTOCNode Title="MFIdentifierToIDMapper Properties" Url="html/Properties_T_MFiles_VAF_Configuration_JsonMapping_Mappers_MFIdentifierToIDMapper.htm" HasChildren="true" /><HelpTOCNode Title="MFIdentifierToIDMapper Methods" Url="html/Methods_T_MFiles_VAF_Configuration_JsonMapping_Mappers_MFIdentifierToIDMapper.htm" HasChildren="true" /></HelpTOCNode>