<?xml version="1.0" encoding="utf-8"?><HelpTOCNode Title="ObjectToArrayMapper Class" Url="html/T_MFiles_VAF_Configuration_JsonMapping_Mappers_ObjectToArrayMapper.htm"><HelpTOCNode Title="ObjectToArrayMapper Constructor " Url="html/M_MFiles_VAF_Configuration_JsonMapping_Mappers_ObjectToArrayMapper__ctor.htm" /><HelpTOCNode Title="ObjectToArrayMapper Methods" Url="html/Methods_T_MFiles_VAF_Configuration_JsonMapping_Mappers_ObjectToArrayMapper.htm" HasChildren="true" /></HelpTOCNode>