<?xml version="1.0" encoding="utf-8"?><HelpTOCNode Title="FlagsObjectMapper Class" Url="html/T_MFiles_VAF_Configuration_JsonMapping_Mappers_FlagsObjectMapper.htm"><HelpTOCNode Title="FlagsObjectMapper Constructor " Url="html/M_MFiles_VAF_Configuration_JsonMapping_Mappers_FlagsObjectMapper__ctor.htm" /><HelpTOCNode Title="FlagsObjectMapper Methods" Url="html/Methods_T_MFiles_VAF_Configuration_JsonMapping_Mappers_FlagsObjectMapper.htm" HasChildren="true" /></HelpTOCNode>