#in-page-nav
{
    display: block;
}

@media all and (max-width: 1499px)
{
    #in-page-nav
    {
        right: initial;
        left: 0px;
    }
    .has-in-page-nav article.page,
    .has-in-page-nav footer
    {
        margin-left: 310px;
        padding-left: 20px;
    }
    article.page
    {
        padding-top: 40px;
    }
    header h1{
        padding-left: 30px;
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        height: 34px;
        padding: 20px 5px 0px 60px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .sidebar-expanded #hamburger
    {
        background-color: #007dc6;
        color: #FFF;
    }

    #sidebar
    {
        -webkit-transition: all 100ms ease-in-out;
        -moz-transition: all 100ms ease-in-out;
        -o-transition: all 100ms ease-in-out;
        transition: all 100ms ease-in-out;
    }
}