#in-page-nav
{
    display: block;
}
#hamburger
{
	display: none;
}
body > *
{
	margin-right: 10px;
	margin-left: 440px;
	padding-left: 20px;
	padding-right: 10px;
}
article.page
{
	border-left: 1px solid transparent;
}

body > aside#sidebar
{
	top: 0px;
	padding-top: 120px;
	left: 0px;
	box-shadow: none;
    -webkit-transition: left 0ms none;
    -moz-transition: left 0ms none;
    -o-transition: left 0ms none;
	transition: left 0ms none;
	border-right: 0px;
}
#logo
{
	left: 0px;
	width: 413px;
	max-height: 53px;
	margin: 0px;
	display: block;
	position: fixed;
	padding: 10px 0;
	top: 0px;
	z-index: 11000;
	background-color: #0072CE;
	background: linear-gradient(180deg, #0072CEFF 0%, #0072CEFF 90%, #0072CE00 100%);
}
aside#sidebar div.search
{
	position: fixed;
	top: 70px;
	width: 410px;
	z-index: 11000;
}
aside#sidebar form.search
{
	margin-left: 20px;
}
@media screen and (min-width: 1000px)
{
	aside#sidebar
	{
		margin-top: 0px;
	}
    #in-page-nav
    {
		left: 430px;
	}
	
	/* hide the blue header */
	header,
		.has-in-page-nav header h1
	{
		display: none;
	}

	@media all and (max-width: 1499px)
	{
		#in-page-nav
		{
			left: 430px;
		}
		.has-in-page-nav article.page,
		.has-in-page-nav footer
		{
			margin-left: 450px;
			padding-left: 20px;
		}

		#sidebar
		{
			-webkit-transition: all 100ms ease-in-out;
			-moz-transition: all 100ms ease-in-out;
			-o-transition: all 100ms ease-in-out;
			transition: all 100ms ease-in-out;
		}

	}

}