@import "scrolled.css";

aside#sidebar
{
	left: -470px;
	width: 430px;
}

body.sidebar-expanded aside#sidebar
{
	left: 0px;
}
body > *
{
	margin: 20px 80px;
}
body > header
{
	background-image: url(/design1/images/m-files-logo-white.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center right;
	background-origin: content-box;
}