aside#sidebar
{
	left: -470px;
	width: 430px;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
}
body.sidebar-expanded > *
{
	display: block;
}
body.sidebar-expanded > script
{
	display: none;
}

body.sidebar-expanded aside#sidebar
{
	left: 0px;
}
