
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v={{ site.github.build_revision }}">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v={{ site.github.build_revision }}">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v={{ site.github.build_revision }}">
	<link rel="manifest" href="/manifest.webmanifest?v={{ site.github.build_revision }}">
	<link rel="mask-icon" href="/safari-pinned-tab.svg?v={{ site.github.build_revision }}" color="#005E94">
	<link rel="shortcut icon" href="/favicon.ico?v={{ site.github.build_revision }}">
	<meta name="msapplication-TileColor" content="#005E94">
	<meta name="msapplication-TileImage" content="/mstile-144x144.png?v={{ site.github.build_revision }}">
	<meta name="theme-color" content="#ffffff">
	<meta name="msapplication-config" content="/browserconfig.xml?v={{ site.github.build_revision }}" />
	
	<meta property="og:site_name" content="Welcome to the M-Files Developer Portal" />

	<meta property="twitter:card" content="summary" />
	<meta property="twitter:site" content="@M_Files" />


    {%- if page.excerpt -%}
    	<meta name="description" content="{{ page.excerpt | markdownify | strip_html }}" />
		<meta property="og:description" content="{{ page.excerpt| markdownify | strip_html }}" />
		<meta property="twitter:summary" content="{{ page.excerpt| markdownify | strip_html }}" />
    {%- else -%}
		{%- if site.description -%}
		<meta name="description" content="{{ site.description }}">
		<meta property="og:description" content="{{ site.description }}" />
		<meta property="twitter:summary" content="{{ site.description }}" />
		{%- endif -%}
	{%- endif -%}
	{%- if site.author -%}
		<meta name="author" content="{{ site.author }}" />
	{%- endif -%}

    {%- if page.title -%}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
    {%- endif -%}

	<link rel="canonical" href="https://developer.m-files.com{{ page.url }}" />
	<meta property="og:url" content="https://developer.m-files.com{{ page.url }}" />
	<meta property="og:image" content="https://developer.m-files.com/images/logo-square.jpg" />