{%- assign navurl = page.url | remove: 'index.html' -%}
{%- assign childCount = include.items | size | default: 0 -%}
{%- if childCount > 0 -%}
	<ul{% unless include.sub %} class="treeview"{% endunless %}>
	{%- for item in include.items -%}
		{%- capture children -%}{%- include nav-data.html items=item.Items sub=true -%}{%- endcapture -%}
		{%- assign link = item.Link -%}
		{%- assign starting = link | slice: 0, 4 -%}
		<li{% if item.Link == navurl %} class="expanded current"{% endif %}{% if children contains "expanded current" %} class="expanded"{% endif %}>
			<a href="{%- if starting == 'http' -%}{{ link }}{%- else -%}{{ link | prepend: site.baseurl }}{%- endif -%}"{% if item.IsExternal %} target="_blank" rel="noopener"{% endif %}{% if item.ID %} id="{{ item.ID }}"{% endif %}>
				<span class="text">
					{{ item.Title }}
					{%- if item.IsOfficialReference -%}<span class="iconify" data-icon="mdi:bookmark-check"></span>{%- endif -%}
					{%- if item.IsGitHubLink -%}<span class="iconify" data-icon="mdi:github-circle"></span>{%- endif -%}
				</span>
			</a>
			{{ children }}
		</li>
	{%- endfor -%}
	</ul>
{%- endif -%}