<div itemscope itemtype="http://schema.org/WebSite">
	<meta itemprop="url" content="http://developer.m-files.com/"/>
	<meta itemprop="name" content="M-Files Developer Portal"/>
	<form class="search" action="/Search/" method="get" itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction">
	<meta itemprop="target" content="http://developer.m-files.com/Search/?query={query}"/>
		<input type="text" itemprop="query-input" class="search-box" id="query" name="query" autocomplete="off" placeholder="Search..." required />
		<button class="btn btn-default btn-block" type="submit">
				<i class="zmdi zmdi-invert-colors zmdi-search"></i>
				<span class="label">search</span>
			</button>
	</form>
</div>
<nav class="primary">
    <ul class="zmdi-hc-ul treeview">
        <li><a href="{{ site.baseurl }}/"><i class="zmdi-hc-li zmdi zmdi-home"></i>Home</a></li>
        <li><a href="{{ site.baseurl }}/Whats-New/"><i class="zmdi-hc-li zmdi zmdi-edit"></i>What's New</a></li>
        <li><a href="{{ site.baseurl }}/Concepts/"><i class="zmdi-hc-li zmdi zmdi-play"></i>Concepts</a>
            <ul>
                {% comment %}
                <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-eye"></i>Style guides</a></li>
                {% endcomment %}
                <li><a href="{{ site.baseurl }}/Concepts/Aliases/">Aliases</a></li>
                {% comment %}
                <li><a href="#">Github structure guide</a></li>
                {% endcomment %}
            </ul>
        </li>
        <li><a href="{{ site.baseurl }}/Built-In/"><i class="zmdi-hc-li zmdi zmdi-stop"></i>Using built-in functionality</a>
            <ul>
                <li><a href="{{ site.baseurl }}/Built-In/External-Object-Type-Data-Source/">External Object Type Data Sources</a>
                    <ul>
                        <li><a href="{{ site.baseurl }}/Built-In/External-Object-Type-Data-Source/Default-Refresh-Logic/">Default refresh logic</a></li>
                        <li><a href="{{ site.baseurl }}/Built-In/External-Object-Type-Data-Source/Custom/">Creating your own Custom External Object Type Data Sources</a></li>
                    </ul>
                </li>
				<li><a href="{{ site.baseurl }}/Built-In/Metadata-Card-Configuration/">Metadata Card Configuration</a></li>
				<li><a href="{{ site.baseurl }}/Built-In/Theming/">Theming</a></li>
                <li><a href="{{ site.baseurl }}/Built-In/URLs/">URLs</a></li>
                <li><a href="{{ site.baseurl }}/Built-In/VBScript/">VBScript</a>
                    <ul>
                        <li><a href="{{ site.baseurl }}/Built-In/VBScript/Audit-Trail-And-Scripting/">Audit trail and Scripting</a></li> 
                        <li><a href="{{ site.baseurl }}/Built-In/VBScript/Vault-Extension-Methods/">Vault Extension Methods</a></li>{% comment %}
                        <li><a href="#">The development environment</a></li>
                        <li><a href="#">Resources</a></li>
                        <li><a href="#">Using Named Value Storage</a></li>
                        <li><a href="#">Performance Notes</a></li>
                        <li><a href="#">Event Handlers</a></li>
                        <li><a href="#">Workflow State Actions</a></li>
                        <li><a href="#">Sample Projects</a>
                            <ul>
                                <li><a href="#">Property Validation</a></li>
                                <li><a href="#">Formatting a Property Value</a></li>
                                <li><a href="#">Searching</a></li>
                                <li><a href="#">Removing properties</a></li>
                            </ul>
                        </li>
                    {% endcomment %}
                    </ul>
                </li>
                {% comment %}
                <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-code"></i>Importing file metadata from XML</a></li>
                {% endcomment %}
            </ul>
        </li>
        <li>
            <a href="{{ site.baseurl }}/APIs/COM-API/"><i class="zmdi-hc-li zmdi zmdi-circle-o"></i>COM API</a>
            <ul>
				<li><a href="https://www.m-files.com/api/documentation/latest/index.html" target="_blank">Official API Reference <i class="zmdi zmdi-bookmark-outline"></i></a></li>
				<li><a href="{{ site.baseurl }}/Samples-And-Libraries/Samples/COM-API/">Samples and Tutorials <i class="zmdi zmdi-github"></i></a></li>
				<li><a href="{{ site.baseurl }}/APIs/COM-API/Connecting-And-Authenticating/">Connecting and authenticating</a></li>
                <li><a href="{{ site.baseurl }}/APIs/COM-API/Searching/">Searching</a>
				<ul>
					<li><a href="{{ site.baseurl }}/APIs/COM-API/Searching/SearchConditions/">Example Search Conditions</a></li>
				</ul></li>
            </ul>
        </li>
        <li><a href="{{ site.baseurl }}/APIs/REST-API/"><i class="zmdi-hc-li zmdi zmdi-cloud-outline"></i>REST API</a>
            <ul>
				<li><a href="http://www.m-files.com/MFWS/" target="_blank">Official API Reference <i class="zmdi zmdi-bookmark-outline"></i></a></li>
				<li><a href="{{ site.baseurl }}/Samples-And-Libraries/Samples/REST-API/">Samples and Tutorials <i class="zmdi zmdi-github"></i></a></li>
                <li><a href="{{ site.baseurl }}/APIs/REST-API/Concepts/">Concepts</a></li>
                <li><a href="{{ site.baseurl }}/APIs/REST-API/Authentication/">Authentication</a>
                    <ul>
                        <li><a href="{{ site.baseurl }}/APIs/REST-API/Authentication/Single-Sign-On/">Using Single Sign On</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.baseurl }}/APIs/REST-API/Searching/">Searching</a>
                <li><a href="{{ site.baseurl }}/APIs/REST-API/Creating-And-Updating-Objects/">Creating and updating objects</a>
                <li><a href="{{ site.baseurl }}/APIs/REST-API/Vault-Extension-Methods/">Vault Extension Methods</a></li>
                <li><a href="{{ site.baseurl }}/APIs/REST-API/Useful-Applications/">Useful Applications</a></li>
            </ul>
        </li>
        <li>
            <a href="{{ site.baseurl }}/Frameworks/User-Interface-Extensibility-Framework/"><i class="zmdi-hc-li zmdi zmdi-window-restore"></i>UI Extensibility Framework</a>
            <ul>
				<li><a href="https://www.m-files.com/UI_Extensibility_Framework/#FrontPage.html" target="_blank">Official Reference <i class="zmdi zmdi-bookmark-outline"></i></a></li>
				<li><a href="{{ site.baseurl }}/Samples-And-Libraries/Samples/User-Interface-Extensibility-Framework/">Samples and Tutorials <i class="zmdi zmdi-github"></i></a></li>
                <li><a href="{{ site.baseurl }}/Frameworks/User-Interface-Extensibility-Framework/Development-Practices/">Development Practices</a>
					<ul>
						<li><a href="{{ site.baseurl }}/Frameworks/User-Interface-Extensibility-Framework/Development-Practices/Asynchronous-API-Programming/">Asynchronous API programming</a></li>
						<li><a href="{{ site.baseurl }}/Frameworks/User-Interface-Extensibility-Framework/Development-Practices/Debugging/">Debugging</a></li>
						<li><a href="{{ site.baseurl }}/Frameworks/User-Interface-Extensibility-Framework/Development-Practices/Deployment/">Deployment</a></li>
						<li><a href="{{ site.baseurl }}/Frameworks/User-Interface-Extensibility-Framework/Development-Practices/Event-Registration-And-Entry-Points/">Event registration and entry points</a></li>
						<li><a href="{{ site.baseurl }}/Frameworks/User-Interface-Extensibility-Framework/Development-Practices/Local-Development-Folder/">Local development folder</a></li>
						<li><a href="{{ site.baseurl }}/Frameworks/User-Interface-Extensibility-Framework/Development-Practices/Object-Lifecycle/">Object Lifecycle</a></li>
						<li><a href="{{ site.baseurl }}/Frameworks/User-Interface-Extensibility-Framework/Development-Practices/Platform-Targeting/">Platform targeting</a></li>
					</ul>
				</li>
				<li><a href="{{ site.baseurl }}/Frameworks/User-Interface-Extensibility-Framework/Application-Definition/">Application Definition File</a>
					<ul>
						<li><a href="{{ site.baseurl }}/Frameworks/User-Interface-Extensibility-Framework/Application-Definition/Master-Application-Guid/">Master application GUID</a></li>
					</ul>
				</li>
				<li><a href="{{ site.baseurl }}/Frameworks/User-Interface-Extensibility-Framework/Dashboards/">Dashboards</a></li>
				<li><a href="{{ site.baseurl }}/Frameworks/User-Interface-Extensibility-Framework/Modules/">Modules</a></li>
				<li><a href="{{ site.baseurl }}/Frameworks/User-Interface-Extensibility-Framework/Pre-Approval/">Pre-Approval</a></li>
            </ul>
        </li>
        <li>
            <a href="{{ site.baseurl }}/Frameworks/Vault-Application-Framework/"><i class="zmdi-hc-li zmdi zmdi-widgets"></i>Vault Application Framework</a>
            <ul>
				<li><a href="{{ site.baseurl }}/Samples-And-Libraries/Samples/Vault-Application-Framework/">Samples and Tutorials <i class="zmdi zmdi-github"></i></a></li>
				<li><a href="{{ site.baseurl }}/Frameworks/Vault-Application-Framework/Versions/">Versions</a></li>
                <li><a href="{{ site.baseurl }}/Frameworks/Vault-Application-Framework/Attributes/">Attributes</a>
                    <ul>
                        <li><a href="{{ site.baseurl }}/Frameworks/Vault-Application-Framework/Attributes/Configuration/">Configuration</a></li>
                        <li><a href="{{ site.baseurl }}/Frameworks/Vault-Application-Framework/Attributes/Event-Handlers/">Event Handlers</a></li>
                        <li><a href="{{ site.baseurl }}/Frameworks/Vault-Application-Framework/Attributes/Workflows/">Workflow State Actions, Pre-conditions, Post-conditions, and Automatic State Transitions</a></li>
                        <li><a href="{{ site.baseurl }}/Frameworks/Vault-Application-Framework/Attributes/Properties/">Property calculation and validation</a></li>
                        <li><a href="{{ site.baseurl }}/Frameworks/Vault-Application-Framework/Attributes/Vault-Extension-Methods/">Vault Extension Methods</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.baseurl }}/Frameworks/Vault-Application-Framework/Background-Operations/">Background Operations</a></li>
                <li><a href="{{ site.baseurl }}/Frameworks/Vault-Application-Framework/Development-Practices/">Development Practices</a>
                    <ul>
                        <li><a href="{{ site.baseurl }}/Frameworks/Vault-Application-Framework/Development-Practices/Debugging/">Debugging</a></li>
                        <li><a href="{{ site.baseurl }}/Frameworks/Vault-Application-Framework/Development-Practices/Exceptions/">Exceptions</a></li>
                        <li><a href="{{ site.baseurl }}/Frameworks/Vault-Application-Framework/Development-Practices/DotNet-Configuration-Files/">.NET Configuration Files</a></li>
                    </ul>
                </li>
				<li><a href="{{ site.baseurl }}/Frameworks/Vault-Application-Framework/Distributing-Child-Applications/">Distributing child applications</a></li>
				<li><a href="{{ site.baseurl }}/Frameworks/Vault-Application-Framework/Visual-Studio-Template/">Visual Studio Template</a>
					<ul>
                        <li><a href="{{ site.baseurl }}/Frameworks/Vault-Application-Framework/Visual-Studio-Template/Code-Snippets/">Code Snippets</a></li>
					</ul>
				</li>
                <li><a href="{{ site.baseurl }}/Frameworks/Vault-Application-Framework/Helpers/">Helpers</a>
                    <ul>
                        <li><a href="{{ site.baseurl }}/Frameworks/Vault-Application-Framework/Helpers/MFPropertyValuesBuilder/">MFPropertyValuesBuilder</a></li>
                        <li><a href="{{ site.baseurl }}/Frameworks/Vault-Application-Framework/Helpers/MFSearchBuilder/">MFSearchBuilder</a></li>
                        <li><a href="{{ site.baseurl }}/Frameworks/Vault-Application-Framework/Helpers/ObjVerChanges/">ObjVerChanges</a></li>
                        <li><a href="{{ site.baseurl }}/Frameworks/Vault-Application-Framework/Helpers/ObjVerEx/">ObjVerEx</a></li>
                    </ul>
                </li>
				<li><a href="{{ site.baseurl }}/Frameworks/Vault-Application-Framework/Licensing/">Licensing</a></li>
                <li><a href="{{ site.baseurl }}/Frameworks/Vault-Application-Framework/Searching/">Searching</a></li>
				<li><a href="{{ site.baseurl }}/Frameworks/Vault-Application-Framework/Using-VB.NET/">Using VB.NET</a></li>
            </ul>
        </li>
        {% comment %}
        <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-globe"></i>The Intelligent Metadata Layer</a>
            <ul>
                <li><a href="#">Overview</a></li>
                <li><a href="#">External Repository Connectors</a></li>
                <li><a href="#">Metadata Provider</a></li>
            </ul>
        </li>
        <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-case-check"></i>Packaging and Deployment</a>
            <ul>
                <li><a href="#">Overview</a></li>
                <li><a href="#">Resources</a></li>
                <li><a href="#">Customising the build</a>
                    <ul>
                        <li><a href="#">Logo</a></li>
                        <li><a href="#">Deploying vault connections</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        {% endcomment %}
        <li><a href="{{ site.baseurl }}/Samples-And-Libraries/"><i class="zmdi-hc-li zmdi zmdi-github"></i>Samples and Libraries</a>
            <ul>
                <li><a href="{{ site.baseurl }}/Samples-And-Libraries/Libraries/">Libraries</a>
                    <ul>
                        <li><a href="{{ site.baseurl }}/Samples-And-Libraries/Libraries/COM-API/">COM API</a></li>
                        <li><a href="{{ site.baseurl }}/Samples-And-Libraries/Libraries/REST-API/">REST API</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.baseurl }}/Samples-And-Libraries/Samples/">Samples</a>
                    <ul>
                        <li><a href="{{ site.baseurl }}/Samples-And-Libraries/Samples/COM-API/">COM API</a></li>
                        <li><a href="{{ site.baseurl }}/Samples-And-Libraries/Samples/REST-API/">REST API</a></li>
						<li><a href="{{ site.baseurl }}/Samples-And-Libraries/Samples/User-Interface-Extensibility-Framework/">User Interface Extensibility Framework</a>
							<ul>
								<li><a href="{{ site.baseurl }}/Samples-And-Libraries/Samples/User-Interface-Extensibility-Framework/HelloWorld/">Hello, World</a></li>
								<li><a href="{{ site.baseurl }}/Samples-And-Libraries/Samples/User-Interface-Extensibility-Framework/Commands/">Commands</a></li>
								<li><a href="{{ site.baseurl }}/Samples-And-Libraries/Samples/User-Interface-Extensibility-Framework/BuiltInCommand-Event/">Handling Built-In Commands</a></li>
								<li><a href="{{ site.baseurl }}/Samples-And-Libraries/Samples/User-Interface-Extensibility-Framework/Display-Persistent-Web-Page-In-Tab/">Display Persistent Web Page In Tab</a></li>
								<li><a href="{{ site.baseurl }}/Samples-And-Libraries/Samples/User-Interface-Extensibility-Framework/AssignToMe/">Creating Assignments</a></li>
							</ul>
						</li>
                        <li><a href="{{ site.baseurl }}/Samples-And-Libraries/Samples/Vault-Application-Framework/">Vault Application Framework</a></li>
						<li><a href="{{ site.baseurl }}/Samples-And-Libraries/Samples/Processes/">Processes</a>
							<ul>
                        		<li><a href="{{ site.baseurl }}/Samples-And-Libraries/Samples/Processes/Chaining-Workflows/">Chaining Workflows</a></li>
                        		<li><a href="{{ site.baseurl }}/Samples-And-Libraries/Samples/Processes/Copying-Objects/">Copying Objects</a></li>
                        		<li><a href="{{ site.baseurl }}/Samples-And-Libraries/Samples/Processes/Client-To-Server-Communication/">Client To Server Communication</a></li>
							</ul>
						</li>
                    </ul>
                </li>
            </ul>
        </li>
        {% comment %}
        <li><a href="#">Tips and Tricks</a>
            <ul class="zmdi-hc-ul">
                <li><a href="#">Technology 1</a></li>
                <li><a href="#">Technology 2</a></li>
                <li><a href="#">Technology 3</a></li>
                <li><a href="#">Technology 4</a></li>
            </ul>
        </li>
        <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-cloud-outline"></i>The M-Files Cloud</a></li>
        {% endcomment %}
    </ul>
</nav>
<nav class="secondary">
    <ul class="zmdi-hc-ul">
        <li><a href="mailto:devsupport@m-files.com"><i class="zmdi-hc-li zmdi zmdi-comments"></i>Feedback</a></li>
        <li><a href="{{ site.baseurl }}/Links">Links<i class="zmdi-hc-li zmdi zmdi-link"></i></a></li>
    </ul>
</nav>