<li class="nav-item" id="nav-index" rel="page"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/index/">M-Files Web Service</a></li>
<li class="nav-item"
 id="nav-overview" rel="page"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/overview/">Overview</a></li>
<li class="nav-item" id="nav-gettingstarted"
 rel="page"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/gettingstarted/">Getting started</a></li>
<li class="nav-item"
 id="nav-parameters" rel="page"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/parameters/">Request parameters</a></li>
<li class="nav-item"
 id="nav-resources" rel="default"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/">Resource reference</a>
	<ul class="nav-children">
		<li class="nav-item" id="nav-resources-favorites" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/favorites/">Favorites</a>
			<ul class="nav-children">
				<li class="nav-item" id="nav-resources-favorites-type-objectid" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/favorites/type/objectid/">Favorite object</a></li>
			</ul>
		</li>
		<li class="nav-item" id="nav-resources-objects" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/objects/">Objects</a>
			<ul class="nav-children">
				<li class="nav-item" id="nav-resources-objects-type" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/objects/type/">Objects of type</a>
					<ul class="nav-children">
						<li class="nav-item" id="nav-resources-objects-type-objectid" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/objects/type/objectid/">Object</a>
							<ul class="nav-children">
								<li class="nav-item" id="nav-resources-objects-type-objectid-deleted" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/objects/type/objectid/deleted/">Deleted</a></li>
								<li
								 class="nav-item" id="nav-resources-objects-type-objectid-history" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/objects/type/objectid/history/">History</a></li>
						<li
						 class="nav-item" id="nav-resources-objects-type-objectid-version" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/objects/type/objectid/version/">Object version</a>
							<ul
							 class="nav-children">
								<li class="nav-item" id="nav-resources-objects-type-objectid-version-checkedout" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/objects/type/objectid/version/checkedout/">Check out status</a></li>
								<li
								 class="nav-item" id="nav-resources-objects-type-objectid-version-comments" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/objects/type/objectid/version/comments/">Comments</a></li>
				<li
				 class="nav-item" id="nav-resources-objects-type-objectid-version-files" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/objects/type/objectid/version/files/">Object files</a>
					<ul
					 class="nav-children">
						<li class="nav-item" id="nav-resources-objects-type-objectid-version-files-file" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/objects/type/objectid/version/files/file/">Object file</a>
							<ul
							 class="nav-children">
								<li class="nav-item" id="nav-resources-objects-type-objectid-version-files-file-content" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/objects/type/objectid/version/files/file/content/">Contents</a></li>
								<li
								 class="nav-item" id="nav-resources-objects-type-objectid-version-files-file-title" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/objects/type/objectid/version/files/file/title/">File name</a></li>
						<li
						 class="nav-item" id="nav-resources-objects-type-objectid-version-files-file-preview" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/objects/type/objectid/version/files/file/preview/">File thumbnail</a></li>
		</ul>
</li>
</ul>
</li>
<li class="nav-item" id="nav-resources-objects-type-objectid-version-properties" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/objects/type/objectid/version/properties/">Object properties</a>
	<ul
	 class="nav-children">
		<li class="nav-item" id="nav-resources-objects-type-objectid-version-properties-id" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/objects/type/objectid/version/properties/id/">Single object property</a></li>
		</ul>
</li>
<li class="nav-item" id="nav-resources-objects-type-objectid-version-preview" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/objects/type/objectid/version/preview/">Object thumbnail</a></li>
<li
 class="nav-item" id="nav-resources-objects-type-objectid-version-title" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/objects/type/objectid/version/title/">Object title</a></li>
	<li
	 class="nav-item" id="nav-resources-objects-type-objectid-version-workflowstate" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/objects/type/objectid/version/workflowstate/">Object workflow state</a></li>
		<li
		 class="nav-item" id="nav-resources-objects-type-objectid-version-relationships" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/objects/type/objectid/version/relationships/">Relationships</a>
			<ul
			 class="nav-children">
				<li class="nav-item" id="nav-resources-objects-type-objectid-version-relationships-count" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/objects/type/objectid/version/relationships/count/">Relationship count</a></li>
				</ul>
				</li>
				<li class="nav-item" id="nav-resources-objects-type-objectid-version-subobjects" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/objects/type/objectid/version/subobjects/">Sub-objects</a>
					<ul
					 class="nav-children">
						<li class="nav-item" id="nav-resources-objects-type-objectid-version-subobjects-count" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/objects/type/objectid/version/subobjects/count/">Sub-object count</a></li>
						</ul>
				</li>
				</ul>
				</li>
				</ul>
				</li>
				</ul>
				</li>
				<li class="nav-item" id="nav-resources-objects-properties" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/objects/properties/">Properties of multiple objects</a></li>
				</ul>
				</li>
				<li class="nav-item" id="nav-resources-recentlyaccessedbyme" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/recentlyaccessedbyme/">Recently accessed by the user</a></li>
				<li
				 class="nav-item" id="nav-resources-server" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/server/">Server resources</a>
					<ul class="nav-children">
						<li class="nav-item" id="nav-resources-server-authenticationtokens" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/server/authenticationtokens/">Authentication tokens</a></li>
						<li
						 class="nav-item" id="nav-resources-server-publickey" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/server/publickey/">Server public key</a></li>
							<li
							 class="nav-item" id="nav-resources-server-status" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/server/status/">Server status</a></li>
								<li
								 class="nav-item" id="nav-resources-server-vaults" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/server/vaults/">Vaults</a></li>
					</ul>
					</li>
					<li class="nav-item" id="nav-resources-session" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/session/">Session</a>
						<ul class="nav-children">
							<li class="nav-item" id="nav-resources-session-authenticationtoken" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/session/authenticationtoken/">Authentication token</a></li>
							<li
							 class="nav-item" id="nav-resources-session-vault" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/session/vault/">Vault</a></li>
					</ul>
					</li>
					<li class="nav-item" id="nav-resources-files" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/files/">Temporary upload</a></li>
					<li class="nav-item"
					 id="nav-resources-valuelists-id-items" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/valuelists/id/items/">Value list items</a>
						<ul
						 class="nav-children">
							<li class="nav-item" id="nav-resources-valuelists-id-items-objectid" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/valuelists/id/items/objectid/">Value list item</a>
								<ul
								 class="nav-children">
									<li class="nav-item" id="nav-resources-valuelists-id-items-objectid-title" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/valuelists/id/items/objectid/title/">Value list item title</a></li>
									</ul>
							</li>
							</ul>
					</li>
					<li class="nav-item" id="nav-resources-structure" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/structure/">Vault structure</a>
						<ul class="nav-children">
							<li class="nav-item" id="nav-resources-structure-classes" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/structure/classes/">Object classes</a>
								<ul
								 class="nav-children">
									<li class="nav-item" id="nav-resources-structure-classes-id" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/structure/classes/id/">Object class</a>
										<ul
										 class="nav-children">
											<li class="nav-item" id="nav-resources-structure-classes-id-icon" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/structure/classes/id/icon/">Class icon</a></li>
						</ul>
						</li>
						</ul>
						</li>
						<li class="nav-item" id="nav-resources-structure-objecttypes" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/structure/objecttypes/">Object types</a>
							<ul
							 class="nav-children">
								<li class="nav-item" id="nav-resources-structure-objecttypes-type" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/structure/objecttypes/type/">Object type</a>
									<ul
									 class="nav-children">
										<li class="nav-item" id="nav-resources-structure-objecttypes-type-refreshstatus" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/structure/objecttypes/type/refreshstatus/">External source refresh</a></li>
										<li
										 class="nav-item" id="nav-resources-structure-objecttypes-type-icon" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/structure/objecttypes/type/icon/">Object type icon</a></li>
								</ul>
						</li>
						</ul>
					</li>
					<li class="nav-item" id="nav-resources-structure-properties" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/structure/properties/">Property definitions</a>
						<ul
						 class="nav-children">
							<li class="nav-item" id="nav-resources-structure-properties-id" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/structure/properties/id/">Property definition</a></li>
							</ul>
					</li>
					<li class="nav-item" id="nav-resources-structure-workflows" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/structure/workflows/">Workflows</a>
						<ul class="nav-children">
							<li class="nav-item" id="nav-resources-structure-workflows-id" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/structure/workflows/id/">Workflow</a>
								<ul
								 class="nav-children">
									<li class="nav-item" id="nav-resources-structure-workflows-id-states" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/structure/workflows/id/states/">Workflow states</a>
										<ul
										 class="nav-children">
											<li class="nav-item" id="nav-resources-structure-workflows-id-states-id" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/structure/workflows/id/states/id/">Workflow state</a></li>
						</ul>
						</li>
						</ul>
						</li>
						</ul>
					</li>
					</ul>
					</li>
					<li class="nav-item" id="nav-resources-views-path" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/views/path/">View</a>
						<ul class="nav-children">
							<li class="nav-item" id="nav-resources-views-path-objects" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/views/path/objects/">Search view contents</a></li>
							<li
							 class="nav-item" id="nav-resources-views-path-items" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/views/path/items/">View contents</a>
								<ul
								 class="nav-children">
									<li class="nav-item" id="nav-resources-views-path-items-count" rel="resource"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/resources/views/path/items/count/">View contents count</a></li>
						</ul>
					</li>
					</ul>
					</li>
					</ul>
					</li>
					<li class="nav-item" id="nav-structs" rel="default"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/structs/">Type reference</a>
						<ul class="nav-children">
							<li class="nav-item" id="nav-structs-associatedpropertydef" rel="struct"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/structs/associatedpropertydef/">AssociatedPropertyDef</a></li>
							<li
							 class="nav-item" id="nav-structs-authentication" rel="struct"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/structs/authentication/">Authentication</a></li>
					<li
					 class="nav-item" id="nav-structs-classgroup" rel="struct"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/structs/classgroup/">ClassGroup</a></li>
						<li class="nav-item"
						 id="nav-structs-exceptioninfo" rel="struct"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/structs/exceptioninfo/">ExceptionInfo</a></li>
						<li
						 class="nav-item" id="nav-structs-extendedobjectclass" rel="struct"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/structs/extendedobjectclass/">ExtendedObjectClass</a></li>
							<li
							 class="nav-item" id="nav-structs-extendedobjectversion" rel="struct"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/structs/extendedobjectversion/">ExtendedObjectVersion</a></li>
								<li
								 class="nav-item" id="nav-structs-foldercontentitem" rel="struct"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/structs/foldercontentitem/">FolderContentItem</a></li>
									<li
									 class="nav-item" id="nav-structs-foldercontentitems" rel="struct"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/structs/foldercontentitems/">FolderContentItems</a></li>
										<li
										 class="nav-item" id="nav-structs-lookup" rel="struct"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/structs/lookup/">Lookup</a></li>
											<li class="nav-item"
											 id="nav-structs-objectclass" rel="struct"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/structs/objectclass/">ObjectClass</a></li>
											<li
											 class="nav-item" id="nav-structs-objectcreationinfo" rel="struct"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/structs/objectcreationinfo/">ObjectCreationInfo</a></li>
												<li
												 class="nav-item" id="nav-structs-objectfile" rel="struct"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/structs/objectfile/">ObjectFile</a></li>
													<li
													 class="nav-item" id="nav-structs-objectversion" rel="struct"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/structs/objectversion/">ObjectVersion</a></li>
														<li
														 class="nav-item" id="nav-structs-objectworkflowstate" rel="struct"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/structs/objectworkflowstate/">ObjectWorkflowState</a></li>
															<li
															 class="nav-item" id="nav-structs-objid" rel="struct"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/structs/objid/">ObjID</a></li>
																<li class="nav-item"
																 id="nav-structs-objtype" rel="struct"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/structs/objtype/">ObjType</a></li>
																<li class="nav-item"
																 id="nav-structs-objver" rel="struct"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/structs/objver/">ObjVer</a></li>
																<li class="nav-item"
																 id="nav-structs-passwordchange" rel="struct"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/structs/passwordchange/">PasswordChange</a></li>
																<li
																 class="nav-item" id="nav-structs-primitivetypet" rel="struct"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/structs/primitivetypet/">PrimitiveType&lt;T&gt;</a></li>
																	<li
																	 class="nav-item" id="nav-structs-propertydef" rel="struct"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/structs/propertydef/">PropertyDef</a></li>
																		<li
																		 class="nav-item" id="nav-structs-propertyvalue" rel="struct"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/structs/propertyvalue/">PropertyValue</a></li>
																			<li
																			 class="nav-item" id="nav-structs-publickey" rel="struct"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/structs/publickey/">PublicKey</a></li>
																				<li
																				 class="nav-item" id="nav-structs-resultst" rel="struct"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/structs/resultst/">Results&lt;T&gt;</a></li>
																					<li
																					 class="nav-item" id="nav-structs-sessioninfo" rel="struct"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/structs/sessioninfo/">SessionInfo</a></li>
																						<li
																						 class="nav-item" id="nav-structs-stacktraceelement" rel="struct"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/structs/stacktraceelement/">StackTraceElement</a></li>
																							<li
																							 class="nav-item" id="nav-structs-statusresponse" rel="struct"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/structs/statusresponse/">StatusResponse</a></li>
																								<li
																								 class="nav-item" id="nav-structs-typedvalue" rel="struct"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/structs/typedvalue/">TypedValue</a></li>
																									<li
																									 class="nav-item" id="nav-structs-uploadinfo" rel="struct"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/structs/uploadinfo/">UploadInfo</a></li>
																										<li
																										 class="nav-item" id="nav-structs-valuelistitem" rel="struct"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/structs/valuelistitem/">ValueListItem</a></li>
																											<li
																											 class="nav-item" id="nav-structs-vault" rel="struct"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/structs/vault/">Vault</a></li>
																												<li
																												 class="nav-item" id="nav-structs-webserviceerror" rel="struct"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/structs/webserviceerror/">WebServiceError</a></li>
																													<li
																													 class="nav-item" id="nav-structs-versioncomment" rel="struct"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/structs/versioncomment/">VersionComment</a></li>
																														<li
																														 class="nav-item" id="nav-structs-view" rel="struct"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/structs/view/">View</a></li>
																															<li
																															 class="nav-item" id="nav-structs-viewlocation" rel="struct"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/structs/viewlocation/">ViewLocation</a></li>
																																<li
																																 class="nav-item" id="nav-structs-workflow" rel="struct"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/structs/workflow/">Workflow</a></li>
																																	<li
																																	 class="nav-item" id="nav-structs-workflowstate" rel="struct"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/structs/workflowstate/">WorkflowState</a></li>
																																		</ul>
																																		</li>
																																		<li class="nav-item" id="nav-enumerations" rel="default"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/enumerations/">Enumerations</a>
																																			<ul
																																			 class="nav-children">
																																				<li class="nav-item" id="nav-enumerations-mfaclmode" rel="enum"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/enumerations/mfaclmode/">MFACLMode</a></li>
																																				<li
																																				 class="nav-item" id="nav-enumerations-mfauthtype" rel="enum"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/enumerations/mfauthtype/">MFAuthType</a></li>
																																		<li
																																		 class="nav-item" id="nav-enumerations-mfautomaticvaluetype" rel="enum"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/enumerations/mfautomaticvaluetype/">MFAutomaticValueType</a></li>
																																			<li
																																			 class="nav-item" id="nav-enumerations-mfcheckoutstatus" rel="enum"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/enumerations/mfcheckoutstatus/">MFCheckOutStatus</a></li>
																																				<li
																																				 class="nav-item" id="nav-enumerations-mfdatatype" rel="enum"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/enumerations/mfdatatype/">MFDataType</a></li>
																																					<li
																																					 class="nav-item" id="nav-enumerations-mffoldercontentitemtype" rel="enum"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/enumerations/mffoldercontentitemtype/">MFFolderContentItemType</a></li>
																																						<li
																																						 class="nav-item" id="nav-enumerations-mfobjectversionflag" rel="enum"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/enumerations/mfobjectversionflag/">MFObjectVersionFlag</a></li>
																																							<li
																																							 class="nav-item" id="nav-enumerations-mfrefreshstatus" rel="enum"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/enumerations/mfrefreshstatus/">MFRefreshStatus</a></li>
																																								</ul>
																																								</li>
																																								<li class="nav-item" id="nav-syntax" rel="page"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/syntax/">Encoding syntax</a></li>
																																								<li
																																								 class="nav-item" id="nav-error" rel="page"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/error/">Error reporting</a></li>
																																									<li
																																									 class="nav-item" id="nav-compatibility" rel="page"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/compatibility/">Compatibility</a></li>
																																										<li
																																										 class="nav-item" id="nav-samples" rel="page"><a class="title" href="{{ site.baseurl }}/APIs/REST-API/Reference/samples/">Sample code</a></li>


<script>
(function($){
	var $document = $(document);
	var $body = $("body");

	// Get the links in the treeview.
	var $navLinks = $("li.nav-item a");

	// When one is clicked, highlight it.
	function highlightLink(i, o)
	{
		// Get all the parents
		var $parents = $($(this).parents("li"));

		// Process the parents.
		$parents.each(function(a, b)
		{
			var $parent = $(this);

			// Open it.
			$parent.attr("class", $parent.attr("class") + " open");

			// If it is the top parent then it should be active.
			if(a == 0)
			{
				$parent.attr("class", $parent.attr("class") + " active");
			}
		});
		return true;
	}
	$navLinks.click(highlightLink);

	// Highlight the current page.
	var currentPageAddress = window.location.pathname;
	$($navLinks).filter("[href='" + currentPageAddress + "']").each(highlightLink);

})(jQuery);
</script>