<div itemscope itemtype="http://schema.org/WebSite">
	<meta itemprop="url" content="http://developer.m-files.com/"/>
	<meta itemprop="name" content="M-Files Developer Portal"/>
	<form class="search" action="/Search/" method="get" itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction">
	<meta itemprop="target" content="http://developer.m-files.com/Search/?query={query}"/>
		<input type="text" itemprop="query-input" class="search-box" id="query" name="query" autocomplete="off" placeholder="Search..." aria-label="Search Query" required />
		<button class="btn btn-default btn-block" type="submit" aria-label="Perform Search">
				<span class="iconify" data-icon="mdi:magnify"></i>
				<span class="label">search</span>
			</button>
	</form>
</div>
<nav class="primary" role="navigation">
    {%- include nav-data.html items=site.data.navigation -%}
</nav>
<nav class="secondary">
    <ul>
        <li><a href="mailto:devsupport@m-files.com"><span class="text"><span class="iconify" data-icon="mdi:comment-text-multiple-outline"></span>Feedback</span></a></li>
        <li><a href="{{ site.baseurl }}/Links"><span class="text">Links<span class="iconify" data-icon="mdi:link-variant"></span></span></a></li>
    </ul>
</nav>