<nav class="primary">
    <ul class="zmdi-hc-ul treeview">
        <li><a href="{{ site.baseurl }}"><i class="zmdi-hc-li zmdi zmdi-home"></i>Home</a></li>
        <li><a href="{{ site.baseurl }}/Getting-Started/"><i class="zmdi-hc-li zmdi zmdi-play"></i>Getting started</a>
            <ul class="zmdi-hc-ul">
                <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-stop"></i>What options are available to developers?</a></li>
                <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-stop"></i>How do I get a development licence?</a></li>
                <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-stop"></i>Style guides</a></li>
                <li><a href="{{ site.baseurl }}/Getting-Started/Aliases/"><i class="zmdi-hc-li zmdi zmdi-stop"></i>Aliases</a></li>
                <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-github"></i>Github structure guide</a></li>
            </ul>
        </li>
        <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-stop"></i>Using built-in functionality</a>
            <ul class="zmdi-hc-ul">
                <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-stop"></i>VBScript</a>
                    <ul class="zmdi-hc-ul">
                        <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-stop"></i>Overview</a></li>
                        <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-stop"></i>The development environment</a></li>
                        <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-stop"></i>Resources</a></li>
                        <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-stop"></i>Performance Notes</a></li>
                        <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-stop"></i>Library?</a></li>
                        <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-stop"></i>Event Handlers</a></li>
                        <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-stop"></i>Workflow State Actions</a></li>
                        <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-github"></i>Sample Projects</a>
                            <ul class="zmdi-hc-ul">
                                <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-github"></i>Property Validation</a></li>
                                <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-github"></i>Formatting a Property Value</a></li>
                                <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-github"></i>Searching</a></li>
                                <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-github"></i>Removing properties</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-stop"></i>External Object Type Data Sources (ODBC)</a></li>
                <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-stop"></i>External Object Type Data Sources (Microsoft CRM)</a></li>
                <li><a href="{{ site.baseurl }}/Custom-External-Object-Type-Data-Source/"><i class="zmdi-hc-li zmdi zmdi-stop"></i>Creating your own Custom External Object Type Data Sources</a></li>
                <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-stop"></i>Importing file metadata from XML</a></li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="zmdi-hc-li zmdi zmdi-circle-o"></i>COM API</a>
            <ul class="zmdi-hc-ul">
                <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-stop"></i>Overview</a></li>
                <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-stop"></i>Resources</a></li>
                <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-stop"></i>The MFaaP library</a></li>
                <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-github"></i>Sample Projects</a>
                    <ul class="zmdi-hc-ul">
                        <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-github"></i>Authenticating</a></li>
                        <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-github"></i>Listing items</a></li>
                        <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-github"></i>Navigating through a view</a></li>
                        <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-github"></i>Searching</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="zmdi-hc-li zmdi zmdi-image-o"></i>UI Extensibility Framework</a>
            <ul class="zmdi-hc-ul">
                <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-stop"></i>Overview</a></li>
                <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-stop"></i>Resources</a></li>
                <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-stop"></i>The MFaaP library</a></li>
                <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-github"></i>Sample Projects</a>
                    <ul class="zmdi-hc-ul">
                        <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-github"></i>Authenticating</a></li>
                        <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-github"></i>Listing items</a></li>
                        <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-github"></i>Navigating through a view</a></li>
                        <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-github"></i>Searching</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="{{ site.baseurl }}/Vault-Application-Framework/"><i class="zmdi-hc-li zmdi zmdi-widgets"></i>Vault Application Framework</a>
            <ul class="zmdi-hc-ul">
                <li><a href="{{ site.baseurl }}/Vault-Application-Framework/"><i class="zmdi-hc-li zmdi zmdi-stop"></i>Overview</a>
                    <ul class="zmdi-hc-ul">
                        <li><a href="{{ site.baseurl }}/Vault-Application-Framework/Visual-Studio-Template/"><i class="zmdi-hc-li zmdi zmdi-stop"></i>Visual Studio Template</a></li>
                        <li><a href="{{ site.baseurl }}/Vault-Application-Framework/Configuration/"><i class="zmdi-hc-li zmdi zmdi-stop"></i>Configuration</a></li>
                        <li><a href="{{ site.baseurl }}/Vault-Application-Framework/Event-Handlers/"><i class="zmdi-hc-li zmdi zmdi-stop"></i>Event Handlers</a></li>
                        <li><a href="{{ site.baseurl }}/Vault-Application-Framework/Searching/"><i class="zmdi-hc-li zmdi zmdi-stop"></i>Background Operations</a></li>
                        <li><a href="{{ site.baseurl }}/Vault-Application-Framework/Workflows/"><i class="zmdi-hc-li zmdi zmdi-stop"></i>Workflow State Actions, Pre-conditions, Post-conditions, and Automatic State Transitions</a></li>
                        <li><a href="{{ site.baseurl }}/Vault-Application-Framework/Properties/"><i class="zmdi-hc-li zmdi zmdi-stop"></i>Property calculation and validation</a></li>
                        <li><a href="{{ site.baseurl }}/Vault-Application-Framework/Vault-Extension-Methods/"><i class="zmdi-hc-li zmdi zmdi-stop"></i>Vault Extension Methods</a></li>
                        <li><a href="{{ site.baseurl }}/Vault-Application-Framework/Background-Operations/"><i class="zmdi-hc-li zmdi zmdi-stop"></i>Background Operations</a></li>
                        <li><a href="{{ site.baseurl }}/Vault-Application-Framework/Helper-Utilities/"><i class="zmdi-hc-li zmdi zmdi-stop"></i>Helper utilities</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.baseurl }}/Vault-Application-Framework/using-vb.net/"><i class="zmdi-hc-li zmdi zmdi-stop"></i>Using VB.NET</a></li>
                <li><a href="{{ site.baseurl }}/Vault-Application-Framework/Development-Practices/"><i class="zmdi-hc-li zmdi zmdi-stop"></i>Development practices</a>
                    <ul class="zmdi-hc-ul">
                        <li><a href="{{ site.baseurl }}/Vault-Application-Framework/Development-Practices/Unit-Testing/"><i class="zmdi-hc-li zmdi zmdi-stop"></i>Unit testing</a></li>
                        <li><a href="{{ site.baseurl }}/Vault-Application-Framework/Development-Practices/Debugging/"><i class="zmdi-hc-li zmdi zmdi-stop"></i>Debugging</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-stop"></i>The MFaaP.VAF library</a></li>
                <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-github"></i>Sample Projects</a>
                    <ul class="zmdi-hc-ul">
                        <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-github"></i>Event Handlers</a></li>
                        <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-github"></i>Workflow State Actions</a></li>
                        <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-github"></i>Property Validation</a></li>
                        <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-github"></i>Formatting a Property Value</a></li>
                        <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-github"></i>Calculated Property Value</a></li>
                        <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-github"></i>Background Operations</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="{{ site.baseurl }}/REST-API/"><i class="zmdi-hc-li zmdi zmdi-cloud-outline"></i>RESTful API</a>
            <ul class="zmdi-hc-ul">
                <li><a href="{{ site.baseurl }}/REST-API/"><i class="zmdi-hc-li zmdi zmdi-stop"></i>Overview</a></li>
                <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-stop"></i>Resources</a></li>
                <li><a href="{{ site.baseurl }}/REST-API/single-sign-on/"><i class="zmdi-hc-li zmdi zmdi-account"></i>Using Single Sign On</a></li>
                <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-github"></i>Sample Projects</a>
                    <ul class="zmdi-hc-ul">
                        <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-github"></i>Sample 1</a></li>
                        <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-github"></i>Sample 2</a></li>
                        <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-github"></i>Sample 3</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="{{ site.baseurl }}/Custom-External-Object-Type-Data-Source/"><i class="zmdi-hc-li zmdi zmdi-puzzle-piece"></i>Custom External Object Data Type Providers</a>
            <ul class="zmdi-hc-ul">
                <li><a href="{{ site.baseurl }}/Custom-External-Object-Type-Data-Source/"><i class="zmdi-hc-li zmdi zmdi-stop"></i>Overview</a></li>
                <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-stop"></i>Resources</a></li>
                <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-github"></i>Sample Projects</a>
                    <ul class="zmdi-hc-ul">
                        <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-github"></i>Sample 1</a></li>
                        <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-github"></i>Sample 2</a></li>
                        <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-github"></i>Sample 3</a></li>
                    </ul>
                </li>
            </ul></li>
        <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-globe"></i>The Intelligent Metadata Layer</a>
            <ul class="zmdi-hc-ul">
                <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-stop"></i>Overview</a></li>
                <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-stop"></i>External Repository Connectors</a></li>
                <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-stop"></i>Metadata Provider</a></li>
            </ul>
        </li>
        <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-case-check"></i>Packaging and Deployment</a>
            <ul class="zmdi-hc-ul">
                <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-stop"></i>Overview</a></li>
                <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-stop"></i>Resources</a></li>
                <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-stop"></i>Customising the build</a>
                    <ul class="zmdi-hc-ul">
                        <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-stop"></i>Logo</a></li>
                        <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-stop"></i>Deploying vault connections</a></li>
                        <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-stop"></i>Automatically accepting UIXes</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="{{ site.baseurl }}/Samples/"><i class="zmdi-hc-li zmdi zmdi-github"></i>Samples</a>
            <ul class="zmdi-hc-ul">
                <li><a href="{{ site.baseurl }}/Samples/"><i class="zmdi-hc-li zmdi zmdi-github"></i>Overview</a></li>
                <li><a href="{{ site.baseurl }}/Samples/Chaining-Workflows/"><i class="zmdi-hc-li zmdi zmdi-github"></i>Chaining Workflows</a></li>
            </ul>
        </li>
        <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-github"></i>Libraries</a>
            <ul class="zmdi-hc-ul">
                <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-github"></i>.NET (COM/.NET API and Web Service Client)</a></li>
                <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-github"></i>UIX</a></li>
                <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-github"></i>M-Files Web Services</a></li>
            </ul>
        </li>
        <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-github"></i>Tips and Tricks</a>
            <ul class="zmdi-hc-ul">
                <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-stop"></i>Technology 1</a></li>
                <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-stop"></i>Technology 2</a></li>
                <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-stop"></i>Technology 3</a></li>
                <li><a href="#"><i class="zmdi-hc-li zmdi zmdi-stop"></i>Technology 4</a></li>
            </ul>
        </li>
    </ul>
</nav>
<nav class="secondary">
    <ul class="zmdi-hc-ul">
        <li><a href="mailto:devsupport@m-files.com"><i class="zmdi-hc-li zmdi zmdi-comments"></i>Comments</a></li>
        <li><a href="http://community.m-files.com">Help<i class="zmdi-hc-li zmdi zmdi-help-outline"></i></a></li>
    </ul>
</nav>