{%- assign navurl = page.url | remove: 'index.html' -%}
{%- for item in include.items -%}
	{%- if item.Link == navurl -%}
		{%- assign children = item.AssociatedItems | default: [] -%}
		{%- assign childCount = children | size | default: 0 -%}
		{%- if childCount != 0 -%}
			<nav class="other-articles" role="navigation" aria-label="Articles associated with {{ item.Title }}">
				<h2>{%- if item.Title == 'Home' -%}M-Files Developer Portal sections{%- else -%}Articles associated with "{{ item.Title }}"{%- endif -%}</h2>
				<ul class="quicklinks">
					{%- for child in children -%}
						{%- if child.SkipInOtherArticles -%}
							{%- continue -%}
						{%- endif -%}
						{%- assign link = child.Link -%}
						{%- assign starting = link | slice: 0, 4 -%}
					<li>
					<a href="{%- if starting == 'http' -%}{{ link }}{%- else -%}{{ link | prepend: site.baseurl }}{%- endif -%}"{%- if child.IsExternal -%} target="_blank" rel="noopener"{%- endif -%}>
							<span class="text">
								{%- if child.Icon -%}<span class="iconify" data-icon="{{ child.Icon }}"></span>{%- endif -%}
								{{ child.Title }}
								{%- if child.IsOfficialReference -%}<span class="iconify" data-icon="mdi:bookmark-check"></span>{%- endif -%}
								{%- if child.IsGitHubLink -%}<span class="iconify" data-icon="mdi:github-circle"></span>{%- endif -%}
							</span>
						</a>
					</li>
					{%- endfor -%}
				</ul>
			</nav>
		{%- endif -%}
		{%- assign children = item.Items | default: [] -%}
		{%- assign childCount = children | size | default: 0 -%}
		{%- if childCount != 0 -%}
			<nav class="other-articles" role="navigation" aria-label="Similar articles to {{ item.Title }}">
				<h2>{%- if item.Title == 'Home' -%}M-Files Developer Portal sections{%- else -%}Similar articles to "{{ item.Title }}"{%- endif -%}</h2>
				<ul class="quicklinks">
					{%- for child in children -%}
						{%- if child.SkipInOtherArticles -%}
							{%- continue -%}
						{%- endif -%}
						{%- assign link = child.Link -%}
						{%- assign starting = link | slice: 0, 4 -%}
					<li>
					<a href="{%- if starting == 'http' -%}{{ link }}{%- else -%}{{ link | prepend: site.baseurl }}{%- endif -%}"{%- if child.IsExternal -%} target="_blank" rel="noopener"{%- endif -%}>
							<span class="text">
								{%- if child.Icon -%}<span class="iconify" data-icon="{{ child.Icon }}"></span>{%- endif -%}
								{{ child.Title }}
								{%- if child.IsOfficialReference -%}<span class="iconify" data-icon="mdi:bookmark-check"></span>{%- endif -%}
								{%- if child.IsGitHubLink -%}<span class="iconify" data-icon="mdi:github-circle"></span>{%- endif -%}
							</span>
						</a>
					</li>
					{%- endfor -%}
				</ul>
			</nav>
		{%- else -%}
			{%- assign children = include.parent.Items | default: site.data.navigation -%}
			{%- assign childCount = children | size | default: 0 -%}
			{%- if childCount != 0 -%}
				{%- assign title = include.parent.Title -%}
				{%- assign titleLength = title | size | default: 0 -%}
				{%- if titleLength != 0 -%}
					{%- capture title -%}Other articles in "{{title}}"{%- endcapture -%}
				{%- else -%}
					{%- assign title = "Other articles" -%}
				{%- endif -%}
				<nav class="other-articles" role="navigation" aria-label="{{ title }}">
					<h2>{%- if item.Title == 'Home' -%}M-Files Developer Portal sections{%- else -%}{{ title }}{%- endif -%}</h2>
					<ul class="quicklinks">
						{%- for child in children -%}
							{%- if child.SkipInOtherArticles -%}
								{%- continue -%}
							{%- endif -%}
							{%- assign link = child.Link -%}
							{%- assign starting = link | slice: 0, 4 -%}
						<li>
						<a href="{%- if starting == 'http' -%}{{ link }}{%- else -%}{{ link | prepend: site.baseurl }}{%- endif -%}"{%- if child.IsExternal -%} target="_blank" rel="noopener"{%- endif -%}>
								<span class="text">
									{%- if child.Icon -%}<span class="iconify" data-icon="{{ child.Icon }}"></span>{%- endif -%}
									{{ child.Title }}
									{%- if child.IsOfficialReference -%}<span class="iconify" data-icon="mdi:bookmark-check"></span>{%- endif -%}
									{%- if child.IsGitHubLink -%}<span class="iconify" data-icon="mdi:github-circle"></span>{%- endif -%}
								</span>
							</a>
						</li>
						{%- endfor -%}
					</ul>
				</nav>
			{%- endif -%}
		{%- endif -%}
		{%- break -%}
	{%- endif -%}
	{%- assign childCount = item.Items | size | default: 0 -%}
	{%- if childCount != 0  -%}
		{%- include other-articles.html items=item.Items parent=item -%}
	{%- endif -%}
{%- endfor -%}