<div id="share-links">
	<ul class="zmdi-hc-ul">
		<li><a href="mailto:?subject={{ page.title }}&amp;body={{ site.url }}{{ site.baseurl }}{{ page.url }}" target="_blank"><i class="zmdi zmdi-email zmdi-hc-fw"></i> Email</a></li>
		<li><a href="https://twitter.com/intent/tweet?text={{ site.url }}{{ site.baseurl }}{{ page.url }}" target="_blank"><i class="zmdi zmdi-twitter zmdi-hc-fw"></i> Twitter</a></li>
		<li><a href="http://www.linkedin.com/cws/share?url={{ site.url }}{{ site.baseurl }}{{ page.url }}" target="_blank"><i class="zmdi zmdi-linkedin zmdi-hc-fw"></i> LinkedIn</a></li>
		{% if page.comments %} <li><a href="#"><i class="zmdi zmdi-disqus zmdi-hc-fw"></i> Comments</a></li>{% endif %}
	</ul>
</div>