---
---

$background-color: #37373D;
$reveal-background: #37373d;
$reveal-highlight: #63636b;

body.theme-dark
{
	background-color: $background-color;
	color: #CDCDCD;

	@keyframes glow-dark {
		to {
			 border-color: red;
		-webkit-box-shadow: 0 0 15px palevioletred;
		   -moz-box-shadow: 0 0 15px palevioletred;
				box-shadow: 0 0 15px palevioletred;
		}
	}

	&.legacy p.note.warning.legacy{
		animation-name: glow-dark;
		-webkit-animation-name: glow-dark;
	}

	aside#sidebar
	{
		background-color: $background-color;
		div.search
		{
			background-color: $background-color;
		}
	}
	#logo { background-color: $background-color; }
	form.search button
	{
		background-color: #0072CE;
		color: #ecf0f1;
	}
	nav.secondary
	{
		border-top-color: #444;
	}
	aside#sidebar ul li.current > a,
		aside#sidebar ul li > a:hover
	{
		background-color: #3F3f3f;
	}
	article.page ul.quicklinks
	{
		a, a:visited
		{
			color: #CDCDCD;
		}
	}
	article.page .breadcrumb li:not(:last-child)::after
	{
		color: #CDCDCD;
	}
	article.page a,
		article.page a:visited,
		footer a,
		footer a:visited
	{
		color: #85d2ff;
	}
	body article.page .breadcrumb a
	{
		color: rgba(0, 145, 230, 1);
	}

	article.page table th a
	{
		color: #DDD;
	}

	article > table
	{
		border: 5px solid #0072CE;
		thead tr
		{
			background-color: #0072CE;
			color: #DDD;
			> td, > th
			{
				font-weight: normal;
			}
		}
		tbody tr:nth-child(2n)
		{
			border-top-color: #0072CE;
			border-bottom-color: #0072CE;
		}
	}

	code::before
	{
		color: #0072CE;
	}

	p.note
	{
		background-color: rgba(158, 185, 224, 1);
	}

	p.note.warning, p.note.stub, p.note.prerelease, .compatibility ul
	{
		background-color: rgba(219, 132, 0, 1);
		border-color: rgba(189, 113, 0, 1);
	}

	article.page>h1,
		article[role=main] h1,
		article[role=main] h2,
		article[role=main] h3,
		article[role=main] h4
	{
		border-color: #444;
	}

	nav.other-articles
	{
		border-color: #666;
		h1
		{
			background-color: #53565A;
		}
	}

	pre > code
	{
		border-top-color: #DDD;
	}

	#share-links ul:before
	{
		color: #DDD;
	}
	#in-page-nav h1
	{
		color: #DDD;
	}
	code.highlighter-rouge
	{
		color: #53565A;
	}
	article.page
	{
		word-spacing: .05em;
	}
	article.page a.public-anchor
	{
		color: #0072CE;
	}
	.platforms
	{
		.iconify
		{
			color: #CDCDCD;
			&.incompatible
			{
				color: $reveal-highlight;
			}
		}
	}
	#cookies
	{
		color: $reveal-background;
	}

	&.reveal
	{	
		.text,
			ul.quicklinks a .text
		{
			background-color: $reveal-background;
		}
		
		aside#sidebar ul li,
			#in-page-nav ul > li
		{
			&.current > a >.text, > a >.text
			{
				background-color: $reveal-background;
			}
			> a,
				> a:visited
			{
				background-color: #3c3c42;
				color: #DDD;
			}
			> a.current, > a:hover, > a:active
			{
				background-color: $reveal-highlight;
				> .text
				{
					background-color: #3c3c42;
				}
			}
		}
		
		ul.quicklinks a
		{
			background-color: $reveal-highlight;
			border: 0px;
			-webkit-transition: none;
			-moz-transition: none;
			-o-transition: none;
			transition: none;
			&:hover, &:active
			{
				.text
				{
					background-color: #3c3c42;
				}
			}

		}
	}
	form.search input#query
	{
		background-color: black;
		border: 1px solid #5B5B5B;
		color: #cdcdcd;
		&::placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder
		{
			color: #AEAEAE;
			opacity: 1;
		}
		&:focus
		{
			box-shadow: 0px 0px 5px #0072CE;
		}
	}

	/* copied from https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/tomorrow-night.min.css */
	.hljs-comment,.hljs-quote{color:#969896}.hljs-variable,.hljs-template-variable,.hljs-tag,.hljs-name,.hljs-selector-id,.hljs-selector-class,.hljs-regexp,.hljs-deletion{color:#cc6666}.hljs-number,.hljs-built_in,.hljs-builtin-name,.hljs-literal,.hljs-type,.hljs-params,.hljs-meta,.hljs-link{color:#de935f}.hljs-attribute{color:#f0c674}.hljs-string,.hljs-symbol,.hljs-bullet,.hljs-addition{color:#b5bd68}.hljs-title,.hljs-section{color:#81a2be}.hljs-keyword,.hljs-selector-tag{color:#b294bb}.hljs{display:block;overflow-x:auto;background:#1d1f21;color:#c5c8c6;padding:0.5em}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:bold}

}

@media screen and (min-width: 1000px)
{
	body.theme-dark
	{
		#logo
		{
			background-color: $background-color;
		}
	}
}
@media screen and (min-width: 1500px)
{
	body.theme-dark
	{
		#share-links
		{
			border-top-color: #444;
		}
		#in-page-nav
		{
			border-color: #222;
		}
	}
}