---
---

$background-color: #37373D;

body
{
	background-color: $background-color;
	color: #CDCDCD;

	aside#sidebar
	{
		background-color: $background-color;
	}
	form.search button
	{
		background-color: #007dc6;
		color: #ecf0f1;
	}
	nav.secondary
	{
		border-top: 1px solid #444;
	}
	aside#sidebar ul.zmdi-hc-ul li.current > a,
		aside#sidebar ul.zmdi-hc-ul li > a:hover
	{
		background-color: #3F3f3f;
	}
	article.page ul.quicklinks
	{
		a, a:visited
		{
			color: #CDCDCD;
		}
	}
	article.page a,
		article.page a:visited,
		footer a,
		footer a:visited
	{
		color: #007dc6;
	}
	body article.page .breadcrumb a
	{
		color: rgba(0, 145, 230, 1);
	}

	article > table
	{
		border: 5px solid #007dc6;
		thead tr
		{
			background-color: #0064ad;
			color: #DDD;
			> td, > th
			{
				font-weight: normal;
			}
		}
		tbody tr:nth-child(2n)
		{
			border-top-color: #007dc6;
			border-bottom-color: #007dc6;
		}
	}

	code::before
	{
		color: #333;
	}

	p.note
	{
		background-color: rgba(158, 185, 224, 1);
		a, a:visited
		{
			color: #0064ad;
		}
	}

	p.note.warning, p.note.stub, p.note.prerelease
	{
		background-color: rgba(219, 132, 0, 1);
		border-color: rgba(189, 113, 0, 1);
	}

	article.page>h1,
		article[role=main] h1,
		article[role=main] h2,
		article[role=main] h3,
		article[role=main] h4
	{
		border-color: #444;
	}

	nav.other-articles
	{
		border-color: #666;
		h1
		{
			background-color: #333;
		}
	}

	pre > code
	{
		border-top-color: #DDD;
	}

	#share-links ul:before
	{
		color: #DDD;
	}
	#in-page-nav h1
	{
		color: #DDD;
	}
	code.highlighter-rouge
	{
		color: #333;
	}
	article.page
	{
		border-color: #444;
		word-spacing: .05em;
	}
	article.page a.public-anchor
	{
		color: #007dc6;
	}
	.platforms
	{
		.zmdi
		{
			&.incompatible
			{
				display: none;
			}
		}
	}
	#cookies
	{
		color: #37373D;
	}

	&.reveal
	{	
		.text
		{
			background-color: #37373d;
		}
		
		aside#sidebar ul.zmdi-hc-ul li,
			#in-page-nav ul > li
		{
			> a >.text
			{
				background-color: #37373d;
			}
			> a,
				> a:visited
			{
				background-color: #3c3c42;
				color: #DDD;
			}
			&.current > a, > a:hover, > a:active
			{
				> .text
				{
					background-color: #3c3c42;
				}
			}
		}
		
		ul.quicklinks a
		{
			background-color: #3c3c42;
			background-image: url("/images/light-hover.png");
			border: 0px;
			-webkit-transition: none;
			-moz-transition: none;
			-o-transition: none;
			transition: none;
			&:hover, &:active
			{
				.text
				{
					background-color: #3c3c42;
				}
			}

		}
	}
}

@media screen and (min-width: 1500px)
{
	body
	{
		#share-links
		{
			border-top-color: #444;
		}
		#in-page-nav
		{
			border-color: #222;
		}
	}
}