body.fluid
{
	ul.quicklinks a
	{
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;	
	}
	aside#sidebar
	{
		.text
		{
			display: block;
			padding: 3px;
			background-color: #007dc6;
		}
		ul.zmdi-hc-ul li
		{
			> a
			{
				padding: 1px;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center center;
				background-color: #1482c3;
			}
			&.current > a, > a:hover, > a:active
			{
				background-image: url("/images/light-hover.png");
				.text
				{
					background-color: #1482c3;
				}
			}
		}
	}
}