---
---

$background-color: #D7D9DB;
$reveal-background: #e5e6e7;
$reveal-highlight: rgb(155, 153, 153);

body.theme-light
{
	a svg path, a:visited svg path
	{
		fill: #0072CE;
	}
	header h1
	{
		background-color: $background-color;
		color: #53565A;
	}
	header #hamburger path
	{
		fill: #53565A;
	}
	> aside#sidebar
	{
		background-color: $background-color;
		border-right: none;
		div.search
		{
			background-color: $background-color;
		}
		ul li a{
			color: var(--text-color);
		}
	}
	form.search button
	{
		background-color: #0072CE;
		color: #ecf0f1;
	}
	form.search input#query
	{
		&:focus
		{
			box-shadow: 0px 0px 5px #0072CE;
		}
	}
	nav.secondary
	{
		border-top: 1px solid rgb(94, 93, 93);
	}
	nav.other-articles
	{
		border-color: $reveal-background;
		h1
		{
			background-color: $reveal-background;
			color: #53565A;
		}
	}
	p.note
	{
		background-color: $reveal-background;
	}
	article>table
	{
		border-color: $background-color;
		thead tr
		{
			background-color: $reveal-background;
		}
	}
	.expandCollapseIcon path
	{
		fill: #53565A;
	}

}


@media screen and (min-width: 1000px)
{
	body.theme-light
	{
		#logo
		{
			background-color: $background-color;
			background: linear-gradient(180deg, $background-color 0%, $background-color 90%, rgba($background-color, 0) 100%);
		}
	}
}