@use "../design-system/_variables" as variables;
@use "../design-system/mixins/_colours" as colours;
@import "sidebar/treeview";

body{

	aside#sidebar{
		display: none;
		position: fixed;
		top: 68px;
		left: 0px;
		width: 300px;
		padding: 10px 20px 0px 10px;
		bottom: 0px;
		overflow: auto;
		background-color: colours.deepBlue(10);
		border-top-left-radius: variables.$borderradius;
		z-index: 115;
		border-right: 1px solid colours.nightSky(20);
	}

	&.sidebar-expanded{
		aside#sidebar{
			display: block;
			z-index: 200;
		}
	}
	nav.secondary li {
		a, a:visited, a:active, a:hover{
			color: colours.nightSky();
            display: block;
            padding: 7px 0px 7px 24px;
            text-decoration: none;
            border-radius: 8px;
		}
	}
}
@media screen and (min-width: 1000px) {
	body{
		aside#sidebar{
			display: block;
			grid-column: 1;
			width: 250px;
			border-right-width: 0px;
		}
	}
}