---
layout: compress
---
<!DOCTYPE html>
<html lang="en">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{% if page.title %}{{ page.title }} {% endif %}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

	<style type="text/css">
		@import url("{{ site.baseurl }}/styles/site.css?{{ site.github.build_revision }}");
	</style>
	<noscript>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/vs.min.css" integrity="sha256-w6kCMnFvhY2tI1OnsYR/rb5DG9yFGodJknvFZOkp51E=" crossorigin="anonymous" />
	</noscript>
	<link rel="stylesheet" media="print" href="{{ site.baseurl }}/styles/print.css?{{ site.github.build_revision }}" />
	<link rel="deferred-stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/vs.min.css" integrity="sha256-w6kCMnFvhY2tI1OnsYR/rb5DG9yFGodJknvFZOkp51E=" crossorigin="anonymous" />
	
	<script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script defer src="/sw-register.js?{{ site.github.build_revision }}"></script>

</head>
		
{% if page.noInnerLinks %}
	{% assign bodycssClass = "" %}
{% else %}
	{% assign bodycssClass = "has-in-page-nav" %}
{% endif %}


<body class="reveal {{bodycssClass}}">

	<script src="{{ site.baseurl }}/scripts/themes.js?{{ site.github.build_revision }}"></script>
		
    <header>
        <i class="material-icons" id="hamburger">menu</i>
        <h1 class="title">
            {% if page.title %} {{ page.title }} {% endif %}
        </h1>
	</header>

    {{ content }}

    <aside id="sidebar" role="navigation">
		{% capture navigation %}{% include navigation.html %}{% endcapture %}{{ navigation | strip_newlines }}
    </aside>

	<script defer src="{{ site.baseurl }}/scripts/highlight.pack.js?{{ site.github.build_revision }}"></script>
	<script defer src="{{ site.baseurl }}/scripts/highlightjs-line-numbers.js?{{ site.github.build_revision }}"></script>
	<script defer src="{{ site.baseurl }}/scripts/sidebar.js?{{ site.github.build_revision }}"></script>
	<script defer src="{{ site.baseurl }}/scripts/treeview.js?{{ site.github.build_revision }}"></script>
	<script defer src="{{ site.baseurl }}/scripts/in-page-nav.js?{{ site.github.build_revision }}"></script>
	<script defer src="{{ site.baseurl }}/scripts/external-links.js?{{ site.github.build_revision }}"></script>
	<script defer src="{{ site.baseurl }}/scripts/cookies.js?{{ site.github.build_revision }}"></script>
	<script defer src="{{ site.baseurl }}/scripts/reveal.js?{{ site.github.build_revision }}"></script>
	<script defer src="https://code.iconify.design/1/1.0.0-rc1/iconify.min.js"></script>
	<script defer src="{{ site.baseurl }}/scripts/iconify.js?{{ site.github.build_revision }}"></script>

	<script>
		var deferredStylesheets = document.querySelectorAll("link[rel=deferred-stylesheet]");
		for(var i = 0; i<deferredStylesheets.length; i++)
		{
			deferredStylesheets[i].setAttribute("rel", "stylesheet");
		}
	</script>

    {% include analytics.html %}
	{% if site.disqus %}
    <!-- <script id="dsq-count-scr" src="//mfilesdeveloperportal.disqus.com/count.js" async></script> -->
    {% endif %}

</body>

</html>