<!DOCTYPE html>
<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% if page.title %}{{ page.title }} {% endif %}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="https://fonts.googleapis.com/css?family=Raleway|Source+Sans+Pro:400,700" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/vs.min.css" integrity="sha256-w6kCMnFvhY2tI1OnsYR/rb5DG9yFGodJknvFZOkp51E=" crossorigin="anonymous" /> {% feed_meta %}

    <style>
        @import url("{{ site.baseurl }}/styles/base.css?{{ site.github.build_revision }}");
        @import url("{{ site.baseurl }}/styles/buttons.css?{{ site.github.build_revision }}");
        @import url("{{ site.baseurl }}/styles/header.css?{{ site.github.build_revision }}");
        @import url("{{ site.baseurl }}/styles/footer.css?{{ site.github.build_revision }}");
        @import url("{{ site.baseurl }}/styles/breadcrumb.css?{{ site.github.build_revision }}");
        @import url("{{ site.baseurl }}/styles/sidebar.css?{{ site.github.build_revision }}");
        @import url("{{ site.baseurl }}/styles/in-page-nav.css?{{ site.github.build_revision }}");
        @import url("{{ site.baseurl }}/styles/external-links.css?{{ site.github.build_revision }}");
        @import url("{{ site.baseurl }}/styles/search.css?{{ site.github.build_revision }}");
        @import url("{{ site.baseurl }}/styles/quicklinks.css?{{ site.github.build_revision }}");
        @import url("{{ site.baseurl }}/styles/tables.css?{{ site.github.build_revision }}");
        @import url("{{ site.baseurl }}/styles/min-width-500px/base.css?{{ site.github.build_revision }}") screen and (min-width: 500px);
        @import url("{{ site.baseurl }}/styles/min-width-1000px/base.css?{{ site.github.build_revision }}") screen and (min-width: 1000px);
        @import url("{{ site.baseurl }}/styles/min-width-1500px/base.css?{{ site.github.build_revision }}") screen and (min-width: 1500px);
    </style>

    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>

</head>

<body>

    <header>
        <i class="material-icons" id="hamburger">menu</i>
        <h1 class="title">
            {% if page.title %} {{ page.title }} {% endif %}
        </h1>
    </header>

    {{ content }}

    <aside id="sidebar" role="navigation">
        {% include navigation.html %}
    </aside>

    <footer>
        <p>&copy; M-Files. <a href="mailto:devsupport@m-files.com">Contact the Developer Evangelist team at M-Files.</a></p>
    </footer>

    <script src="{{ site.baseurl }}/scripts/highlight.pack.js?{{ site.github.build_revision }}"></script>
    <script>
        hljs.configure({languages: ["cs", "xml", "vbscript"]});
        hljs.initHighlightingOnLoad();
    </script>

    <script src="{{ site.baseurl }}/scripts/sidebar.js?{{ site.github.build_revision }}"></script>
    <script src="{{ site.baseurl }}/scripts/treeview.js?{{ site.github.build_revision }}"></script>
    <script src="{{ site.baseurl }}/scripts/in-page-nav.js?{{ site.github.build_revision }}"></script>
    <script src="{{ site.baseurl }}/scripts/external-links.js?{{ site.github.build_revision }}"></script>

    {% include analytics.html %}
	{% if site.disqus %}
    <script id="dsq-count-scr" src="//mfilesdeveloperportal.disqus.com/count.js" async></script>
    {% endif %}

    <div id="preview">
        <a href="{{ site.baseurl }}/preview">Preview</a>
    </div>

</body>

</html>