<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="{{ site.baseurl }}/APIs/REST-API/Reference/Static/style.css" type="text/css">
<link rel="stylesheet" href="{{ site.baseurl }}/APIs/REST-API/Reference/Static/css/custom-theme/jquery-ui-1.8.24.custom.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
<script src="{{ site.baseurl }}/APIs/REST-API/Reference/Static/jquery.simpletip-1.3.1.min.js"></script>
<script src="{{ site.baseurl }}/APIs/REST-API/Reference/Static/jquery.jstree.js"></script>
<script src="{{ site.baseurl }}/APIs/REST-API/Reference/Static/documentation.js"></script>
<script type="text/javascript">
    MFWSPageRoot = "{{ site.baseurl }}/APIs/REST-API/Reference";
</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/vs.min.css" integrity="sha256-w6kCMnFvhY2tI1OnsYR/rb5DG9yFGodJknvFZOkp51E=" crossorigin="anonymous" />
<script src="{{ site.baseurl }}/scripts/highlight.pack.js?{{ site.github.build_revision }}"></script>

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">

<script>
hljs.configure({languages: ["cs", "xml", "vbscript", "javascript"]});
hljs.initHighlightingOnLoad();
</script>

<title>M-Files Web Service: {% if page.title %}{{ page.title }} {% endif %}</title>
</head>
<body>
<div class="content">
    <div class="header">
        <div class="title"><a href="{{ site.baseurl }}/APIs/REST-API/Reference/">M-Files Web Service</a></div>
        <div class="breadcrumb">
			
			{% capture page_url_without_index_html %}{{ page.url | remove: "index.html" }}{% endcapture %}{% assign splitted_url_parts = page_url_without_index_html | split: '/' %}{% capture forLoopMaxInt %}{{ splitted_url_parts.size | minus:2 }}{% endcapture %}{% for i in (1..forLoopMaxInt) %}{% capture current_breadcrumb_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}/index.html{% endcapture %}{% capture current_breadcrumb_md_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}/{% endcapture %}{% capture next_prepender %}{{next_prepender}}/{{ splitted_url_parts[i] }}{% endcapture %}{% for breadcrumb_page in site.pages %}{% if current_breadcrumb_url == breadcrumb_page.url or current_breadcrumb_md_url == breadcrumb_page.url  %}{% assign j = forLoopMaxInt | plus: 0 %}

				{% if i > 3 %}

				&gt; 
				
				{% capture breadcrumb_page_page_url_without_index_html %}{{ breadcrumb_page.url | remove: "index.html" }}{% endcapture %}
				<a href="{{ site.baseurl }}{{breadcrumb_page_page_url_without_index_html}}" id="bc-{{ j }}">
					{% if breadcrumb_page.breadcrumb == nil %}{{ breadcrumb_page.title }}{% else %}{{ breadcrumb_page.breadcrumb }}{% endif %}
				</a>{% endif %}{% endif %}{% endfor %}{% endfor %}
				
				&gt; <span>{% if page.title %}{{ page.title }} {% endif %}</span>

        </div>
    </div>

    <hr>
	<article class="page">

		{% if page.minimumVersion != nil  %}
		
		<p class="minimumVersion">
			Information on this page is only applicable to M-Files (server) version <code class="highlighter-rouge">{{ page.minimumVersion }}</code> and higher.
		</p>

		{% endif %}

		<article>
			
			{{ content }}

		</article>
	</article.page>

    <div class="footer">
        <hr>
        Copyright &copy; M-Files Corporation. All rights reserved.
    </div>
</div>

<div class="navigation">
    <div class="navigation-header">
        Contents
    </div>
    <div class="navigation-tree">
        <ul>
            {% include navigation-mfws.html %}
        </ul>
    </div>
</div>

<script src="{{ site.baseurl }}/scripts/external-links.js"></script>
<script src="{{ site.baseurl }}/APIs/REST-API/Reference/Static/url-parameters.js"></script>

<!-- Google Analytics --> <script> (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-90139210-1', 'auto'); ga('send', 'pageview', { 'page': '/', 'title': 'Welcome to the M-Files Developer Portal' }); </script> <!-- End Google Analytics -->
<!-- coorporate analytics --> <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','GTM-PSSMKLJ');</script> <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PSSMKLJ" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> <!-- end corporate analytics -->

</body>
</html>
