---
layout: default
---

<article class="page" itemscope itemtype="http://schema.org/WebPage">

  <h1 itemprop="headline">{{ page.title }}</h1>

	<ol class="breadcrumb" itemprop="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">

		<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ site.baseurl }}/">Home</a></li>
		{% capture page_url_without_index_html %}{{ page.url | remove: "/index.html" }}{% endcapture %}{% assign splitted_url_parts = page_url_without_index_html | split: '/' %}{% capture forLoopMaxInt %}{{ splitted_url_parts.size | minus:1 }}{% endcapture %}{% for i in (1..forLoopMaxInt) %}{% capture current_breadcrumb_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}/index.html{% endcapture %}{% capture current_breadcrumb_md_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}/{% endcapture %}{% capture next_prepender %}{{next_prepender}}/{{ splitted_url_parts[i] }}{% endcapture %}{% for breadcrumb_page in site.pages %}{% if current_breadcrumb_url == breadcrumb_page.url or current_breadcrumb_md_url == breadcrumb_page.url  %}{% assign j = forLoopMaxInt | plus: 0 %}
		<li {% if i == j %}class="active"{% endif %}  itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
			{% capture breadcrumb_page_page_url_without_index_html %}{{ breadcrumb_page.url | remove: "index.html" }}{% endcapture %}
			<a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="{{ site.baseurl }}{{breadcrumb_page_page_url_without_index_html}}">
				<span itemprop="name">{% if breadcrumb_page.breadcrumb == nil %}{{ breadcrumb_page.title }}{% else %}{{ breadcrumb_page.breadcrumb }}{% endif %}</span>
			</a>
			<meta itemprop="position" content="{{ i }}" />
		</li>{% endif %}{% endfor %}{% endfor %}
	</ol>
  {% comment %}
  <div class="share" style="border: 2px solid #EEE; padding: 5px;">
	  <span class="zmdi-hc-stack zmdi-hc-lg" style="cursor: pointer;" title="Share">
		<i class="zmdi zmdi-circle-o zmdi-hc-stack-2x" style="color: #DDD"></i> 
		<i class="zmdi zmdi-share zmdi-hc-stack-1x"></i>
	  </span>
	  <i class="zmdi zmdi-hc-lg zmdi-twitter"></i>
		<i class="zmdi zmdi-hc-lg zmdi-linkedin"></i>
		<i class="zmdi zmdi-hc-lg zmdi-wikipedia"></i>
		<input type="text" value="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />
  </div>
	{% endcomment %}

  <div class="entry">
	<article>
	  
	  <div id="in-page-nav">{% include toc.html html=content sanitize=true h_min=2 h_max=4 %}</div>

	  {% if page.stubPage %}
		<p class="note stub">Please note that this page content is not complete.</p>
	  {% endif %}

	  {{ content }}
	</article>
  </div>

  {% if page.comments %} 
	{% include disqus.html %}
  {% endif %}
  

</article>