---
layout: default
---

<article class="page" itemscope itemtype="http://schema.org/WebPage">

	<div id="options"></div>

	<h1 itemprop="headline">{{ page.title }}</h1>

	{% include social.html %}

	<ol class="breadcrumb" itemprop="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList" role="navigation">

		<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ site.baseurl }}/">Home</a></li>
		{% capture page_url_without_index_html %}{{ page.url | remove: "/index.html" }}{% endcapture %}{% assign splitted_url_parts = page_url_without_index_html | split: '/' %}{% capture forLoopMaxInt %}{{ splitted_url_parts.size | minus:1 }}{% endcapture %}{% for i in (1..forLoopMaxInt) %}{% capture current_breadcrumb_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}/index.html{% endcapture %}{% capture current_breadcrumb_md_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}/{% endcapture %}{% capture next_prepender %}{{next_prepender}}/{{ splitted_url_parts[i] }}{% endcapture %}{% for breadcrumb_page in site.pages %}{% if current_breadcrumb_url == breadcrumb_page.url or current_breadcrumb_md_url == breadcrumb_page.url  %}{% assign j = forLoopMaxInt | plus: 0 %}
		<li {% if i == j %}class="active"{% endif %}  itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">{% capture breadcrumb_page_page_url_without_index_html %}{{ breadcrumb_page.url | remove: "index.html" }}{% endcapture %}
			<a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="{{ site.baseurl }}{{breadcrumb_page_page_url_without_index_html}}">
				<span itemprop="name">{% if breadcrumb_page.breadcrumb == nil %}{{ breadcrumb_page.title }}{% else %}{{ breadcrumb_page.breadcrumb }}{% endif %}</span>
			</a>
			<meta itemprop="position" content="{{ i }}" />
		</li>{% endif %}{% endfor %}{% endfor %}
	</ol>

	<div class="entry">

	<article role="main">
		{% capture inthisarticle %}{% include toc.html html=content sanitize=true h_min=2 h_max=3 %}{% endcapture %}
		{% assign inthisarticle_size = inthisarticle | size %}

		{% if inthisarticle_size > 0 %}
		<nav id="in-page-nav" role="navigation">
			<div id="in-this-article">
				<h1>In this article</h1>
				{{ inthisarticle }}
			</div>
		</nav>
		{% endif %}

		{% if page.prerelease %}
			<p class="note prerelease">Please note that this page content refers to a pre-release version of software.  Please read the information below thoroughly for more information.</p>
			{% endif %}
		{% if page.stubPage %}
			<p class="note stub">Please note that this page content is not complete.</p>
		{% endif %}

		{{ content }}
	</article>

	{% capture other %}{% include other-articles.html items=site.data.navigation %}{% endcapture %}
	{% assign other_size = other | size %}
	{% if other_size > 0 %}
		{{ other | strip_newlines }}
	{% endif %}

	{% if page.comments %} 
	{% include disqus.html %}
	{% endif %}

	</div>
  
    <footer>
        <p>&copy; M-Files. <a href="mailto:devsupport@m-files.com">Contact the Developer Evangelist team at M-Files.</a></p>
	</footer>
	
</article>

