body,
html {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: white;
    color: #333;
    font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

h5 {
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 0.9em;
    font-weight: normal;
}

h5 + p {
    margin-top: 0;
    padding-top: 0;
}

body>* {
    margin: 0px 20px;
}

figure{
	margin: 0px;
	padding: 0px;
}

p.description {
    margin: 0px 20px 7px 20px;
    font-style: italic;
    font-size: 0.8em;
}

p.description>i.material-icons {
    font-size: 0.9em;
}

body>article img {
    box-sizing: border-box;
    border: 3px solid #007dc6;
    padding: 5px;
    margin: 5px;
    max-width: 100%;
}
body>article p img:only-child
{
	display: block;
}


h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.4em;
}

.page h4 {
    font-weight: bold;
}

#hamburger {
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px;
    cursor: pointer;
    font-size: 1.5em;
    padding: 15px;
    background-color: #007dc6;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    z-index: 10003;
}

article.page li > p
{
	/* remove the margin on paragraphs inside list items (typical markdown rendering) */
	margin: 0px;
}

article.page p,
	article.page li
{
	/* for easier reading, space out the lines a little */
	line-height: 1.5em;
}
article.page ol[role="navigation"] li,
	article.page nav li
{
	line-height:  initial;
}

/* hide the page h1, as it's a duplicate of the big blue one */

body>article.page>h1 {
    display: none
}

p.note {
    background-color: #D6E1F2;
    border: 1px solid #A6A6A6;
    position: relative;
    padding: 5px 10px 5px 30px;
    color: black; /* increase contrast */
}

p.note::before {
    font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
    content: "\f1fb";
    position: absolute;
    left: 10px;
    top: 8px;
}

p.note.warning, p.note.stub, p.note.prerelease {
    background-color: #FFB84D;
    border: 1px solid #ff9900;
}

p.note.prerelease {
    background-color: #eee;
    border-color: #CCC;
}

p.note.prerelease::before {
    content: "\f333";
}

/* make the links in warnings a little darker, just to make them contrast better */
article.page .note.warning a {
    color: rgba(0, 50, 199, 1);
}
article.page a .zmdi
{
	padding: 0px 2px;
}


p.note.stub {
    font-style: italic;
}

p.note.warning::before {
    content: "\f1f4";
}

p.note.stub::before {
    content: "\f25a";
}

article.page a {
    color: #007dc6;
    text-decoration: none;
}

article.page a:hover {
    text-decoration: underline;
}

article.page h1 a,
article.page h2 a,
article.page h3 a {
    color: #333;
}