*
{
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}

body, html
{
	padding: 0px;
	margin: 0px;
}

body
{
	background-color: white;
	color: #333;
	font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6
{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	letter-spacing: 1px;
}

pre
{
	position: relative;
}

pre > code
{
	box-shadow: 0 0 5px 2px #CCC;
	padding-top: 1em;
}

code::before
{
	font-size: 0.8em;
	float: left;
	position: absolute;
	top: 5px;
	right: 5px;
}

code.vbs::before
{
	content: 'VBScript';
}

code.cs::before
{
	content: 'C# (.NET)';
}

body > *
{
	margin: 0px 20px 0px 60px;
}

p.description
{
	margin: 0px 20px 7px 20px;
	font-style: italic;
	font-size: 0.8em;
}

p.description > i.material-icons
{
	font-size: 0.9em;
}

body > article img{
	box-sizing: border-box;
	border: 5px solid #DDD;
	padding: 5px;
	margin: 5px auto;
	max-width: 100%;
}

h1{
	font-size: 2em;
}
h2{
	font-size: 1.6em;
}
h3{
	font-size: 1.2em;
}

#hamburger
{
	position: fixed;
	top: 0px;
	left: 0px;
	margin: 0px;
	cursor: pointer;
	font-size: 1.5em;
	padding: 15px;
	background-color: #007dc6;
	color: white;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	z-index: 10003;
}

/* hide the page h1, as it's a duplicate of the big blue one */
body > article.page > h1
{
	display: none
}