body,
html {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: white;
    color: #333;
    font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

h5 {
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 0.9em;
    font-weight: normal;
}

h5 + p {
    margin-top: 0;
    padding-top: 0;
}

body>* {
    margin: 0px 20px;
}

figure{
	margin: 0px;
	padding: 0px;
}

p.description {
    margin: 0px 20px 7px 20px;
    font-style: italic;
    font-size: 0.8em;
}

p.description>i.material-icons {
    font-size: 0.9em;
}

body>article img {
    box-sizing: border-box;
    border: 3px solid #007dc6;
    padding: 5px;
    margin: 5px;
    max-width: 100%;
}
body>article p img:only-child
{
	display: block;
}


h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.4em;
}

.page h4 {
    font-weight: bold;
}

#hamburger {
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px;
    cursor: pointer;
    font-size: 1.5em;
    padding: 15px;
    background-color: #007dc6;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    z-index: 10003;
}

article[role=main] h1,
	article[role=main] h2,
	article[role=main] h3,
	article[role=main] h4
{
	border-bottom: 1px solid #EEE;
}

article.page li
{
	margin: 10px auto;
}
article.page ol > li
{
	list-style: decimal;
	ol > li{
		list-style: lower-alpha;
		ol > li{
			list-style: lower-roman;
		}
	}
}
article.page .checklist ol>li
{
	list-style-type: none;
	position: relative;
	&:before
	{
		position: absolute;
		left: -20px;
		color: darkgreen;
		font-family: "Material Icons";
		content: "\e86c";
	}
}

article.page li > p
{
	/* remove the margin on paragraphs inside list items (typical markdown rendering) */
	margin: 0px;
}

article.page p,
	article.page li
{
	/* for easier reading, space out the lines a little */
	line-height: 1.5em;
}
article.page ol[role="navigation"] li,
	article.page nav li
{
	line-height:  initial;
}

/* hide the page h1, as it's a duplicate of the big blue one */

body>article.page>h1 {
	border-bottom: 2px solid #EEE;
	padding: 10px 0px;
	margin: 0px 0px 10px 0px;
}

p.note {
    background-color: #D6E1F2;
    border: 1px solid #A6A6A6;
    position: relative;
    padding: 5px 10px 5px 30px;
	color: black; /* increase contrast */
	&::before {
		font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
		content: "\f1fb";
		position: absolute;
		left: 10px;
		top: 8px;
	}
	&.api::before {
		content: "\f11d";
	}
	
	&.api.com::before {
		content: "\f26c";
	}
	&.api.rest::before {
		content: "\f21d";
	}
	&.store::before {
		content: "\f1cb";
	}
}

p.note.warning,
	p.note.stub,
	p.note.prerelease
{
    background-color: #FFB84D;
	border: 1px solid #ff9900;
	&.stub
	{
		font-style: italic;
	}
	&.warning::before {
		content: "\f1f4";
	}
	&.stub::before {
		content: "\f25a";
	}
}

p.note.hint
{
    background-color: rgba(224, 237, 222, 1);
	border: 1px solid rgb(64, 146, 89);
	&::before
	{
		content: "\f1c3";
	}
}

p.note.prerelease
{
    background-color: #eee;
	border-color: #CCC;
	&::before
	{
		content: "\f333";
	}
}

body article.page
{
	border-right-color: #EEE;
}

/* make the links in warnings a little darker, just to make them contrast better */
article.page .note.warning a {
    color: rgba(0, 50, 199, 1);
}
article.page a .zmdi
{
	padding: 0px 2px;
}
article.page a .zmdi-open-in-new
{
	padding-left: 5px;
}

article.page a,
	article.page a:visited {
    color: #007dc6;
    text-decoration: none;
}

article.page a:hover {
    text-decoration: underline;
}

article.page h1 a,
article.page h2 a,
article.page h3 a {
    color: #333;
}

.zmdi
{
	padding-left: 2px;
}