.breadcrumb
{
    margin: 0px;
	display: block;
	padding: 0;
	position: relative;
}
.breadcrumb li.active
{
	font-style: italic;
}
article.page .breadcrumb li:not(:last-child)::after
{
	content: " ";
	white-space: pre;
	width: 12px;
	height: 18px;
	display: inline-block;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' aria-hidden='true' focusable='false' width='1em' height='1em' style='-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);' preserveAspectRatio='xMidYMid meet' viewBox='0 0 24 24'%3E%3Cpath d='M8.59 16.58L13.17 12L8.59 7.41L10 6l6 6l-6 6l-1.41-1.42z' /%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center center;
}
article.page .breadcrumb li
{
    display: inline-block;
    margin: -5px 0px;
    padding: 0px;
}
.breadcrumb a
{
    display: inline-block;
	padding: 5px 2px;
}
@media all and (max-width: 999px)
{
	.breadcrumb
	{
    	padding: 10px 0 0 0;
	}
}