body > footer
{
	/*position: fixed;
	background-color: #2071B7;
	color: white;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: 0px;
	height: 40px;
	padding: 5px 80px;*/
	border-top: 1px solid #EEE;
	font-size: 0.8em;
}