header{
	margin: 0px;
	z-index: 1000;
}
header #hamburger path
{
	fill: white;
}

header h1
{
	background-color: #007dc6;
	color: white;
	padding: 5px;
	margin: 0px;
	padding: 12px 5px 0px 50px;
	z-index: 1001;
	font-weight: normal;
	font-size: 1rem;
	min-height: 33px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@media all and (max-width: 999px)
{
    header
    {
		position: fixed;
		top: 0px;
		left: 0px;
		right: 0px;
	}
	header h1
	{
		padding-right: 120px;
	}
	#logo
	{
		display: block;
		position: absolute;
		top: 10px;
		right: 0px;
		width: 90px;
	}
	article.page
	{
		margin-top: 50px;
	}

	/* move all anchors down by the height of the header (deal with fixed header) */
	:target:before {
		content:"";
		display:block;
		height: 70px; /* fixed header height*/
		margin: -70px 0 0; /* negative fixed header height */
		visibility: hidden;
	}

}