header{
	margin: 0px;
	z-index: 1000;
}

header h1
{
	background-color: #007dc6;
	color: white;
	padding: 5px;
	margin: 0px;
	padding: 20px 5px 0px 60px;
	z-index: 1001;
	font-weight: normal;
	font-size: 1rem;
	min-height:34px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}