#in-page-nav, #in-page-nav ul, #in-page-nav li
{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
#in-page-nav
{
    display: none;
    position: fixed;
    right: 0px;
    width: 300px;
    top: 0px;
    bottom: 0px;
    padding-top: 80px;
    z-index: 10;
    background-color: #f9f9f9;
    border: solid 1px #f5f5f5;
}
#in-page-nav ul
{
    overflow: auto;
    position: absolute;
    top: 60px;
    bottom: 0px;
}
#in-page-nav li
{
    padding: 4px 20px;
    padding-left: 5px;
    font-size: 0.8em;
}
#in-page-nav a{
    text-decoration: none;
    color: #555;
}
#in-page-nav li.h2{
    margin-left: 20px;
    font-weight: bold;
    font-size: 0.9em;
    margin-top: 10px;
}
#in-page-nav li.h3{
    margin-left: 20px;
}
#in-page-nav li.h4{
    margin-left: 40px;
}
#in-page-nav li.in-page-nav-active a{
    color: #e7781e;
}

.has-in-page-nav article h1.in-page-nav-active,
	.has-in-page-nav article h2.in-page-nav-active,
	.has-in-page-nav article h3.in-page-nav-active,
	.has-in-page-nav article h4.in-page-nav-active
{
    border-left: 5px solid #e7781e;
    padding-left: 15px;
    margin-left: 5px;
}