* > a.public-anchor
{
	display: none;
	margin-left: 5px;
}

*:hover > a.public-anchor
{
	display: inline-block;
}

#in-page-nav > ul::before
{
	content: "In this article";
	position: absolute;
	top: 5px;
	left: 25px;
	font-size: 0.9em;
	font-family: "Source Sans Pro",sans-serif;
	color: #333;
	display: inline-block;
	margin-bottom: 10px;
}

#in-page-nav, #in-page-nav ul, #in-page-nav li
{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

body #in-page-nav
{
	border: 3px solid #DEDEDE;
	position: relative;
	left: 0px;
	padding-bottom: 5px;
	> ul
	{
		border-top: 32px solid #EEE;
		li
		{
			padding: 5px 20px 0px 5px;
			margin-left: 10px;
		}
		> li
		{
			margin-left: 20px;
		}
	}
}