article.page a.public-anchor
{
	margin-left: 5px;
	opacity: 0.5;
	color: #333;
    -webkit-transition: opacity 400ms ease-in-out;
    -moz-transition: opacity 400ms ease-in-out;
    -o-transition: opacity 400ms ease-in-out;
	transition: opacity 400ms ease-in-out;
	&:hover
	{
		opacity: 0.99;
	}
}

#in-page-nav, #in-page-nav ul, #in-page-nav li
{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
body #in-page-nav:empty
{
	display:none;
}

body #in-page-nav h1
{
	color: #333;
}
body #in-page-nav
{
	h1
	{
		font-size: 0.9em;
		margin: 0px;
		padding: 5px 10px;
		border-bottom: none;
	}
	> div
	{
		position: relative;
		left: 0px;
		padding-bottom: 5px;
		margin: 10px 0px;
		a
		{
			text-decoration: none;
		}
	}
	ul
	{
		li
		{
			padding: 4px 0px 5px 5px;
			margin-top: 0px;
			.text
			{
				display: block;
				padding: 3px 5px 3px 10px;
				background-color: white;
			}
			> a
			{
				padding: 1px;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center center;
				display: block;
			}
			&.current
			{
				> a, > a:hover, > a:active
				{
					background-image: url("/images/light-hover.png");
					.text
					{
						background-color: #f7faff;
					}
				}
			}
		}
	}
}
body.has-js #in-page-nav
{
	ul
	{
		ul
		{
			display: none;
		}
		li.current
		{
			ul
			{
				display: block;
			}
		}
	}
}
@media screen and (max-width: 1499px)
{
	body #in-page-nav
	{
		ul li li
		{
			margin-left: 25px;
		}
		li
		{
			margin-left: 20px;
			list-style-type: decimal;
			ul li
			{
				list-style-type: square;
			}
		}
	}
}