* > a.public-anchor
{
	display: none;
	margin-left: 5px;
}
*:hover > a.public-anchor
{
	display: inline-block;
}

#in-page-nav, #in-page-nav ul, #in-page-nav li
{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
#in-page-nav
{
    display: none;
    position: fixed;
    right: 0px;
    width: 300px;
    top: 0px;
    bottom: 0px;
    padding-top: 80px;
    z-index: 10;
    background-color: #f9f9f9;
    border: solid 1px #f5f5f5;
}
#in-page-nav ul
{
    overflow: auto;
    position: absolute;
    top: 60px;
	bottom: 0px;
	width:100%;
}
#in-page-nav li
{
    padding: 4px 20px;
    padding-left: 5px;
    font-size: 0.8em;
}
#in-page-nav a{
    text-decoration: none;
    color: #555;
}
#in-page-nav li.h1{
    display: none;
}
#in-page-nav li.h2{
    margin-left: 20px;
    font-weight: bold;
    font-size: 0.9em;
    margin-top: 10px;
}
#in-page-nav li.h3{
    margin-left: 20px;
}
#in-page-nav li.h4{
    margin-left: 40px;
}
#in-page-nav li.in-page-nav-active a{
    color: #e7781e;
}

.has-in-page-nav article h1,
	.has-in-page-nav article h2,
	.has-in-page-nav article h3,
	.has-in-page-nav article h4e
{
	border-left: 5px solid transparent;
	border-bottom: 1px solid #EEE;
	overflow: hidden;
    padding-left: 5px;
	margin-left: 5px;
	padding-bottom: 5px;
	position: relative;
	left: -15px;
}

.has-in-page-nav article h1.in-page-nav-active,
	.has-in-page-nav article h2.in-page-nav-active,
	.has-in-page-nav article h3.in-page-nav-active,
	.has-in-page-nav article h4.in-page-nav-active
{
    border-color: #e7781e;
}

#in-page-nav .expand-collapse
{
	display: none;
	padding-top: 5px;
	text-align: center;
	cursor: pointer;
}
#in-page-nav .expand-collapse i
{
	margin: 0px auto;
}

@media all and (max-width: 1499px)
{
    #in-page-nav
    {
		display: block;
		position: fixed;
		top: auto;
		left: 0px;
		right: 0px;
		bottom: 0;
		height: 30px;
		padding-top: 0px;
		margin: 0px;
		width: auto;
		border-top: 1px solid #CCC;
		-webkit-transition: all 200ms ease-in-out;
		-moz-transition: all 200ms ease-in-out;
		-o-transition: all 200ms ease-in-out;
		transition: all 200ms ease-in-out;
    }

	#in-page-nav .expand-collapse
	{
		display: block;
	}
	#in-page-nav .expand
	{
		display: block;
	}
	#in-page-nav .collapse
	{
		display: none;
	}
	#in-page-nav.open
	{
		height: 400px;
	}
	#in-page-nav.open .expand
	{
		display: none;
	}
	#in-page-nav.open .collapse
	{
		display: block;
	}
	#in-page-nav ul
	{
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		margin: 20px;
	}
    .has-in-page-nav footer
	{
		margin-bottom: 40px;
	}

}