article::after
{
	content: "";
	display: block;
	clear: left;
}
h1.other-articles
{
	font-size: 0.8em;
	font-weight: normal;
	margin: 15px 0px 5px 0px;
	padding: 15px 0px 5px 0px;
	border-top: 3px dashed #CCC;
}
nav.other-articles
{
	margin: 5px 0px;
	border-top-width: 0px;
	padding-bottom: 10px;
	border: 5px solid #007dc6;
	h1
	{
		font-size: 0.9em;
		margin: 0px;
		margin-bottom: 5px;
		padding: 5px 10px;
		border: 0px;
		letter-spacing: 0px;
		font-weight: normal;
		color: white;
		background-color: #007dc6;
		position: initial;
		left: 0px;
	}
}