#other-articles
{
	border: 5px solid #007dc6;
	border-top-width: 0px;
	padding-bottom: 5px;
	margin: 30px 0px 0px 0px;
	background-color: #d6e1f2;
	h1
	{
		font-size: 0.9em;
		margin: 0px;
		padding: 5px 10px;
		position: initial;
		left: 0px;
		border: 0px;
		letter-spacing: 0px;
		font-weight: normal;
	}
	h1:first-child
	{
		color: white;
		background-color: #007dc6;
		padding-top:10px;
	}
	ul
	{
		list-style-type: none;
		margin: 0px;
		padding: 0px;
		text-align: center;
		li
		{
			list-style-type: none;
			margin: 0px;
			margin-left: 10px;
			display: inline-block;
			a
			{
				display: inline-block;
				border: 3px solid #DEDEDE;
				padding: 15px;
				margin: 5px;
				background-color: white;
				color: #333;
				text-decoration: none;
				-webkit-transition: all 200ms ease-in-out;
				-moz-transition: all 200ms ease-in-out;
				-o-transition: all 200ms ease-in-out;
				transition: all 200ms ease-in-out;
			}
			a:hover
			{
				border-color: #007dc6;
				background-color: #0d3c57;
				color: white;
			}
		}
		> li
		{
			> ul > li
			{
				display: none;
			}
		}
	}
}