.rating
{
	margin: 8px 2.14em 0px 2.14em;
}
body .has-rated
{
	display: none;
}
body.has-voted .provide-rating
{
	display: none;
}
body.has-voted .has-rated
{
	display: block;
}
.stars
{
	display: inline-block;
	padding: 0px 8px;
}
.stars i
{
	cursor: pointer;
}
.stars.rating-1 > i:nth-child(1)
{
	color: orange;
}
.stars.rating-2 > i:nth-child(1),
	.stars.rating-2 > i:nth-child(2)
{
	color: orange;
}
.stars.rating-3 > i:nth-child(1),
	.stars.rating-3 > i:nth-child(2),
	.stars.rating-3 > i:nth-child(3)
{
	color: orange;
}
.stars.rating-4 > i:nth-child(1),
	.stars.rating-4 > i:nth-child(2),
	.stars.rating-4 > i:nth-child(3),
	.stars.rating-4 > i:nth-child(4)
{
	color: orange;
}
.stars.rating-5 > i:nth-child(1),
	.stars.rating-5 > i:nth-child(2),
	.stars.rating-5 > i:nth-child(3),
	.stars.rating-5 > i:nth-child(4),
	.stars.rating-5 > i:nth-child(5)
{
	color: orange;
}
button.clear-rating
{
	color: red;
}
button.save-rating
{
	color: green;
}
.stars button
{
	padding: 1px;
	margin: 0px;
	border: 1px solid #CCC;
	visibility: hidden;
	cursor: pointer;
	background-color: #EEE;
}
.stars.rating-1 button,
	.stars.rating-2 button,
	.stars.rating-3 button,
	.stars.rating-4 button,
	.stars.rating-5 button
{
	visibility: visible;
}
body.has-voted .stars.rating-1 button,
	body.has-voted .stars.rating-2 button,
	body.has-voted .stars.rating-3 button,
	body.has-voted .stars.rating-4 button,
	body.has-voted .stars.rating-5 button
{
	visibility: hidden;
}