ul.quicklinks
{
	margin: auto 0px;
	padding: 0px;
	text-align: center;
	a
	{
		padding: 1px !important;
		background-image: none !important;
		display: inline-block;
		text-decoration: none;
		display: inline-block;
	}
	
	li
	{
		margin: 0px;
		padding: 0px;
		display: inline-block;
		.iconify
		{
			font-size: 1.6em;
			position: relative;
			top: 2px;
		}
		@include button();
	}

	a,
		a:hover,
		a:visited
	{
		text-decoration: none;
	}
}