table.samples > tbody > tr > td:first-child
{
	white-space: nowrap;
}
table.samples > thead > tr > th:nth-child(2)
{
	width: 100px;
}
span.platforms i
{
	padding-right: 4px;
}
span.platforms i.incompatible
{
	color: #DDD;
}

table.uix > thead > tr > th
{
	text-align: left;
}

table.uix > tbody > tr > td:first-child
{
	position: relative;
	padding-left: 50px;
}
table.uix > tbody > tr > td:first-child span.platforms
{
	position: absolute;
	top: 5px;
	left: 5px;
	cursor: default;
}
table.uix > thead > tr > th:first-child
{
	text-indent: -9999px;
}
table.uix > thead > tr > th:nth-child(3)
{
}

@media screen and (max-width: 699px)
{
	/* Hack the table down */
	article > table.samples
	{
		border: 0px;
	}
	table.samples, table.samples tr, table.samples th, table.samples td
	{
		display: block;
	}
	table.samples thead
	{
		display: none;
	}
	article > table.samples tbody tr:nth-child(2n), article.samples > table tbody tr:hover
	{
		background-color: transparent;
	}
	table.samples > tbody > tr > td:first-child
	{
		/* display as a header */
		font-weight: 700;
		font-size: 22.4px;
		font-family: "Raleway", sans-serif;
		letter-spacing: 1px;
		border-bottom: 1px solid #EEE;
		padding-left: 5px;
		margin-left: 5px;
		padding-bottom: 5px;
	}
	table.samples > tbody > tr > td:nth-child(3)
	{
		padding-top: 0px;
		padding-bottom: 20px;
	}
	table.uix > tbody > tr > td:first-child span.platforms
	{
		position: relative;
		top: 0px;
		left: 0px;
	}
	article > table.samples tbody tr:hover
	{
		background-color: inherit;
	}
}