form.search
{
	position: relative;
    margin-left: 20px;
    padding-bottom: 10px;
	padding-top: 2px;
}
form.search button
{
	position: absolute;
	top: 0px;
	right: 0px;
	height: 38px;
	width: 38px;
	padding: 0px;
	margin: 0px;
	background-color: transparent;
	color: black;
	border-radius: 0px;
}
article.page form.search
{
	height: 20px;
	input[type="submit"]
	{
		display: none;
	}
}
form.search input#query
{
	height: 38px;
	padding: 0px 40px 0px 10px;
	width: 100%;
	box-sizing: border-box;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
}
form.search button span.label
{
	display:none;
}

form.search input[type='submit']
{
	height: 38px;
    padding: 5px 10px;
    margin: 5px 0px;
	box-sizing: border-box;
}

article.page form
{
  margin-top: 40px;
}

.search-results
{
  list-style-type:none;
  margin: 10px 0px;
  padding: 0px;
}

.search-results li
{
  position: relative;
}

.result
{
  margin-left: 50px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.excerpt
{
  margin-left: 50px;
  padding-top: 0px;
  margin-top: 0px;
  padding-left: 50px;
}

.score
{
  font-size: 0.8em;
  color: green;
  display: inline-block;
  width: 30px;
  text-align: right;
  padding: 0px 10px;
}

.search-results-count
{
  margin: 20px 0px;
  font-weight: bold;
}

aside#sidebar form.search
{
	margin: 5px;
	padding: 0px;
	height: 38px;
}