aside#sidebar {
    position: fixed;
    padding: 80px 30px 130px 3px;
    top: 54px;
    margin: 0px;
    left: -110%;
    bottom: -1px;
    width: 100%;
    z-index: 10002;
    background-color: #007dc6;
    color: white;
    box-shadow: 5px 0 5px -5px #333;
    overflow: hidden;
	min-height: 100px;
	box-sizing: border-box;
	height: 100%;
	overflow-y: auto;
    -webkit-transition: left 300ms ease-in-out;
    -moz-transition: left 300ms ease-in-out;
	-o-transition: left 300ms ease-in-out;
	border-right: 1px solid #007dc6;
    transition: left 300ms ease-in-out;
}

@keyframes wobble
{
	25%
	{
		transform: rotate(-10deg);
		animation-timing-function: ease-in-out;
	}
	75%
	{
		transform: rotate(10deg);
		animation-timing-function: ease-in-out;
	}
}
#pwa-link:hover i
{
	animation: wobble 1s linear 0s infinite;
}

nav.secondary
{
	border-top: 1px solid white;
	margin: 10px 5px 0px 20px;
	padding: 10px 0px;
}

body.with-breadcrumb>aside#sidebar {
    top: 120px;
}

body.sidebar-expanded>* {
    display: none;
}

body.sidebar-expanded>header {
    display: block;
}

body.sidebar-expanded aside#sidebar {
    left: 0px;
    display: block;
}

aside#sidebar h1 {
    font-size: 1.2em;
    margin: 0px;
    padding: 0px;
}

aside#sidebar > nav > ul > li
{
	margin-right: 5px;
}

aside#sidebar ul li {
    margin: 8px 0px;
    position: relative;
}

aside#sidebar ul li a {
    color: white;
    text-decoration: none;
}

ul.treeview ul {
    display: none;
    padding: 0px;
    margin: 0px 0px 0px 20px;
    opacity: 0;
}

ul.treeview li.expanded>ul {
    display: block;
    list-style: disc;
    animation: fadeInNav ease-in-out 300ms forwards;
    animation-delay: 50ms;
}

@keyframes fadeInNav{
  0% { opacity: 0 ; }
  100% { opacity: 0.99; }
}

@-moz-keyframes fadeInNav{
  0% { opacity: 0 ; }
  100% { opacity: 0.99; }
}

@-webkit-keyframes fadeInNav {
  0% { opacity: 0 ; }
  100% { opacity: 0.99; }
}

@-o-keyframes fadeInNav {
  0% { opacity: 0 ; }
  100% { opacity: 0.99; }
}

i.expandCollapseIcon {
    cursor: pointer;
    position: absolute;
    /* left: -42px; */
    top: 4px;
    padding: 5px 15px;
    transform: rotate(0deg);
}

.treeview>li
{
	>i.expandCollapseIcon {
    	left: -57px;
	}
	>ul>li
	{
		i.expandCollapseIcon {
	    	left:-15px;
		}
	}
}

i.expandCollapseIcon:before {
    content: '\f2fb';
}

li.expanded>i.expandCollapseIcon {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

ul.treeview li a.current {
    font-weight: bold;
}

@media all and (max-width: 640px)
{
    aside#sidebar nav.primary
    {
        padding-left: 40px;
        padding-right: 40px;
    }
    aside#sidebar nav.primary li
    {
        font-size: 1.1em;
    }
    aside#sidebar nav.primary li li
    {
        font-size: 1em;
    }

    .treeview>li>i.expandCollapseIcon {
        left: -62px;
    }

    header,
        body.sidebar-expanded>header{
        display:flex;
        align-items: center;
        width: 100%;
    }
    header h1
    {
        width: 100%;
    }
}

aside#sidebar ul
{
	margin: 0px;
	padding: 0px;
	.zmdi-hc-li
	{
		left: 16px;
		top: 9px;
	}	
	li
	{
		margin: 0px;
		padding: 3px 0px;
		&.expanded ul
		{
			list-style-type: none;
		}
		a
		{
			display: inline-block;
			width: 100%;
			height: 100%;
			padding: 1px;
			background-color: transparent;
			box-sizing: border-box;			
		}
		ul li a .zmdi
		{
			padding-left: 4px;
		}
	}
	> li
	{
		padding-left: 50px;
		li
		{
			padding-left: 10px;
		}
	}
	&.zmdi-hc-ul
 	{
		margin: 0px;
		padding: 0px;
	} 
}
aside#sidebar > nav.secondary > ul
{
	> li
	{
		padding-left: 30px;
		margin-right: 0px;
		i
		{
			left: -4px;
		}
	}
}