aside#sidebar {
    position: fixed;
    padding: 0px 20px 160px 0px;
    top: 53px;
    margin: 0px;
    left: -110%;
    bottom: -1px;
    width: 100%;
    z-index: 10002;
    background-color: #007dc6;
    color: white;
    box-shadow: 5px 0 5px -5px #333;
    overflow: hidden;
    min-height: 100px;
}

body.with-breadcrumb>aside#sidebar {
    top: 120px;
}

aside#sidebar nav.primary {
    height: 100%;
    overflow-y: auto;
    padding-left: 20px;
    padding-right: 10px;
}

aside#sidebar nav.secondary {
    border-top: 1px solid white;
    position: absolute;
    bottom: 10px;
    left: 30px;
    right: 30px;
    background-color: #007dc6;
    z-index: 10000;
    height: 100px;
}

body.sidebar-expanded>* {
    display: none;
}

body.sidebar-expanded>header {
    display: block;
}

body.sidebar-expanded aside#sidebar {
    left: 0px;
    display: block;
}

aside#sidebar h1 {
    font-size: 1.2em;
    margin: 0px;
    padding: 0px;
}

aside#sidebar ul li {
    margin: 8px 0px;
    position: relative;
}

aside#sidebar ul li a {
    color: white;
    text-decoration: none;
}

ul.treeview ul {
    display: none;
    padding: 0px;
    margin: 0px 0px 0px 20px;
    opacity: 0;
}

ul.treeview li.expanded>ul {
    display: block;
    list-style: disc;
    animation: fadeInNav ease-in-out 300ms forwards;
    animation-delay: 50ms;
}

@keyframes fadeInNav{
  0% { opacity: 0 ; }
  100% { opacity: 0.99; }
}

@-moz-keyframes fadeInNav{
  0% { opacity: 0 ; }
  100% { opacity: 0.99; }
}

@-webkit-keyframes fadeInNav {
  0% { opacity: 0 ; }
  100% { opacity: 0.99; }
}

@-o-keyframes fadeInNav {
  0% { opacity: 0 ; }
  100% { opacity: 0.99; }
}

i.expandCollapseIcon {
    cursor: pointer;
    position: absolute;
    left: -42px;
    top: -2px;
    padding: 5px 15px;
    transform: rotate(0deg);
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}

.treeview>li>i.expandCollapseIcon {
    left: -57px;
}

i.expandCollapseIcon:before {
    content: '\f2fb';
}

li.expanded>i.expandCollapseIcon {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

ul.treeview li a.current {
    font-weight: bold;
}

@media all and (max-width: 640px)
{
    aside#sidebar nav.primary
    {
        padding-left: 40px;
        padding-right: 40px;
    }
    aside#sidebar nav.primary li
    {
        font-size: 1.1em;
    }
    aside#sidebar nav.primary li li
    {
        font-size: 1em;
    }

    .treeview>li>i.expandCollapseIcon {
        left: -62px;
    }

    header,
        body.sidebar-expanded>header{
        display:flex;
        align-items: center;
        width: 100%;
    }
    header h1
    {
        width: 100%;
    }
}