---
---

@import "base";
@import "buttons";
@import "header";
@import "footer";
@import "breadcrumb";
@import "sidebar";
@import "in-page-nav";
@import "external-links";
@import "search";
@import "quicklinks";
@import "tables";
@import "code-formatting";
@import "highlightjs-custom";
@import "samples.scss";
@import "sharing.scss";
@import "ux.scss";
@import "cookies.scss";
@import "options.scss";

@import "tags.scss";
@import "other-articles.scss";
@import "themes/fluid.scss";
@media screen and (min-width: 500px)
{
	@import "min-width-500px/base";
}
@media screen and (min-width: 1000px)
{
	@import "min-width-1000px/base";
}
@media screen and (min-width: 1500px)
{
	@import "min-width-1500px/base";
	@import "min-width-1500px/in-page-nav";
	@import "min-width-1500px/sharing";
}
aside#sidebar
{
	padding: 0px;
}
aside#sidebar nav.primary
{
	margin: 0px;
	padding: 0px;
}
.treeview > li > i.expandCollapseIcon
{
    left: 0px;
}

aside#sidebar form.search
{
	margin-right: 20px;
}