---
---

@use "reset.css";

@use "design-system/icons" as icons;
@use "design-system/mixins/_colours" as colours;
@use "design-system/mixins/_fonts" as fonts;

@import "components/scrollbar";
@import "components/footer";
@import "components/header";
@import "components/buttons";
@import "components/sidebar";
@import "components/tables";
@import "components/page-contents";


body{
	min-width: 490px;
	background-color: colours.nightSky(5);
	color: colours.white();
	@include fonts.font-body1();
	display: grid;
	grid-template-rows: 68px 20px auto auto;
	grid-template-columns: 20px auto 20px;

	strong{
		font-weight: 400;
	}

	h1, h2, h3, h4, h5, h6, h7, h8 {
		@include fonts.font-heading;
	}

	h1{ @include fonts.font-heading1; }
	h2{ @include fonts.font-heading2; }
	h3{ @include fonts.font-heading3; }
	h4{ @include fonts.font-heading4; }
	h5{ @include fonts.font-heading5; }
	h6{ @include fonts.font-heading6; }
	h7{ @include fonts.font-heading7; }

	p { margin: 12px 0px;}

	a, a:visited, a:link, a:active{
		color: colours.blueMoment();
		text-decoration: none;
		&.external::after{
			content: " ";
			display: inline-block;
			width: 16px;
			height: 16px;
			background-image: icons.externalLink();
			background-repeat: no-repeat;
			background-position: 0px 2px;
		}
		&.public-anchor{
			margin: 0px 5px;
			svg path{
				fill: colours.nightSky(40);
			}
			&:hover{
				svg path{
					fill: colours.nightSky();
				}
			}
		}
	}
}

.iconify:not(.expandCollapseIcon){ display: none; }

@media screen and (min-width: 700px) {
	body{
	}
}
@media screen and (min-width: 1000px) {
	body{
		article.page, footer{
			margin-left: 275px;
			div.hero{
				min-height: 300px;
			}
		}
	}
}
@media screen and (min-width: 1300px) {
	body{
	}
}
@media screen and (min-width: 1500px) {
	body{
		.scroll{
			padding-right: 340px;
		}
	}
}

#share-links, #options{
	display: none;
}


@import "themes/_themes";
