h4, h5, h6 {margin-bottom:0.6em;}

/* allow clear the floating of images in the UX design section */
footer, .clear, h2, h3, h5, body>article *.clear::after
{
	content: '';
	display: block;
	clear: both;
}

span.correct
{
	color: green;
}
span.incorrect
{
	color: red;
}
