/* Raine V. 11 Jan 2019: Hid the "Collapse All" and "Expand All" links */

span.i-toggle-all-sections.i-function-link {
    display: none !important;
}

/* Raine V. 11 Jan 2019: Content page body margin adjustments */

body {
	margin: 32px 20px;
}

/* Raine V. 11 Jan 2019: Created a margin between the main content and the header */

#i-body-content {
    margin-top: 1.5em;
}

/* Raine V. 11 Jan 2019: Table BG and border color changed */

div.i-section-content > table > tbody > tr {

background-color: #ecfbff;

}

div.i-section-content > table > tbody > tr > td {

border: solid 0.2em white;

}

/* Raine V. 14 Jan 2019: Table header style changes */

.i-body-content table th {
    background-color: #eeeeee;
    color: #333333;
    border: solid white 1px;
    font-weight: 500;
}

/* Raine V. 14 Jan 2019: Content in enumeration table value column to be aligned left as well */

#i-enummembers-section-content > table > tbody > tr > td.i-enum-value {
    text-align: left;
}

/* Raine V. 14 Jan 2019: Parameter layout changes */

#i-parameters-section-content > dl > dd {
    margin: 3px 0 12px 0;
}

#i-parameters-section-content > dl > dt > i {
    font-style: inherit;
    font-weight: 700;
}

/* Raine V. 14 Jan 2019: Fixed BG position for note boxes */

.i-box {
    background-position: 5px 3px;
}

/* Raine V. 14 Jan 2019: Table style changes */

table > tbody > tr >td {
    border: solid #ffffff 1px !important;
    background-color: #ecfbff;
}

/* Raine V. 14 Jan 2019: No BG color for the breadcrumbs */

div.i-breadcrumbs-container > table > tbody > tr > td {
    background-color: #ffffff00;
}