body > *
{
	margin-left: 480px;
}
body.has-in-page-nav > *
{
	margin-left: 470px;
	margin-right: 300px;
}

nav.breadcrumb
{
	padding-left: 40px;
}

#in-page-nav
{
    padding-top: 40px;
}
article.page
{
    padding-right: 20px;
}
.has-in-page-nav header h1{
    margin-right: 310px;
}
#in-page-nav
{
    right: 0px;
	left: auto;
	width: 300px;
	background-color: white;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
}
body.has-in-page-nav > #preview
{
	margin-right: 30px;
	transform: none;
	top: auto;
	right: -10px;
	bottom: 15px;
}
body.has-in-page-nav #preview a
{
	padding-top: 10px;
	padding-bottom: 10px;
}
#in-page-nav > ul::before
{
	content: "In this article";
	position: relative;
	top: 15px;
	left: 25px;
	font-weight: bold;
	font-family: "Source Sans Pro",sans-serif;
	color: #333;
	display: inline-block;
	margin-bottom: 10px;
}
#in-page-nav li.h2
{
	font-weight: normal;
}
#in-page-nav li.h3
{
	margin-left: 30px;
}
