body.has-in-page-nav > *
{
	margin-right: 300px;
}

nav.breadcrumb
{
	padding-left: 40px;
}

#in-page-nav
{
	padding-top: 40px;
}
article.page
{
	padding-right: 20px;
	border-right: 1px solid transparent;
}
aside#sidebar
{
	border-right: 0px;
}
.has-in-page-nav header h1{
	margin-right: 310px;
}