#in-page-nav > ul::before
{
	font-weight: bold;
	position: relative;
}

#in-page-nav > ul::before
{
	top: 10px;
	left: 25px;
	font-size: 1em;
}

body #in-this-article
{
	margin-bottom: 2em;
}

body #in-page-nav
{
    position: fixed;
	left: auto;
    right: 0px;
    width: 300px;
    top: 0px;
    bottom: 0px;
    padding-top: 0px;
    z-index: 10;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	overflow: auto;
	li.h2
	{
		font-weight: normal;
	}
	li.h3
	{
		margin-left: 30px;
	}
	> ul::before
	{
		content: "In this article";
		position: relative;
		top: 10px;
		left: 25px;
		font-weight: bold;
		font-family: "Source Sans Pro",sans-serif;
		color: #333;
		display: inline-block;
		margin-bottom: 10px;
	}
	a, a:visited
	{
		text-decoration: none;
		color: #555;
	}
	h1
	{
		margin: 10px 0px 0px 20px;
		padding: 0px 0px 10px 0px;
		font-size: 1em;
		left: -15px;
	}
	> div >ul > li
	{
		margin-right: 5px;
	}
	ul
	{
		width: 100%;
		font-size: 0.9em;
		li
		{
			padding: 4px 0px;
			padding-left: 5px;
			margin-top: 0px;
		}
	}
}