#in-page-nav > ul::before
{
	font-weight: bold;
	position: relative;
}

#in-page-nav > ul::before
{
	top: 10px;
	left: 25px;
	font-size: 1em;
}



body #in-page-nav
{
    position: fixed;
	left: auto;
    right: 0px;
    width: 300px;
    top: 0px;
    bottom: 2em;
    padding-top: 0px;
    z-index: 10;
    background-color: white;
	border: solid 1px #f5f5f5;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	overflow: auto;
	a
	{
		text-decoration: none;
		color: #555;
	}
	h1
	{
		margin: 10px 20px 0px 20px;
		padding: 0px 0px 10px 0px;
		font-size: 1em;
	}
	ul
	{
		width: 100%;
		font-size: 0.9em;
		li
		{
			padding: 4px 0px;
			padding-left: 5px;
			margin-top: 0px;
			> a
			{
				border: 1px solid transparent;
				border-left-width: 5px;
				display: block;
				padding: 4px 3px 4px 7px;
				color: #333;
				&.current, &:active, &:hover
				{
					border-color: #007dc6;
					border-left-color: #007dc6;
					background-color: #d6e1f2;
					-o-transition: all linear 0.3s;
					-webkit-transition: all linear 0.3s;
					-moz-transition: all linear 0.3s;
					-ms-transition: all linear 0.3s;
					transition: all linear 0.3s;
				}
			}
		}
	}
}

.has-in-page-nav article h1,
	.has-in-page-nav article h2,
	.has-in-page-nav article h3,
	.has-in-page-nav article h4e
{
	border-left: 5px solid transparent;
	border-bottom: 1px solid #EEE;
	overflow: hidden;
    padding-left: 5px;
	margin-left: 5px;
	padding-bottom: 5px;
	position: relative;
	left: -15px;
}