#share-links
{
	position: fixed;
	right: 0px;
	left: auto;
	bottom: 0px;
	width: 300px;
	text-align: center;
	border-top: 1px solid #EEE;
	background-color: white;
}
#share-links ul:before
{
	content: "Share";
}
#share-links > ul
{
	margin: 0px 10px;
}
#share-links a
{
	padding: 2px 0px;
}
body #in-page-nav > ul
{
	top: 110px;
}