#share-links
{
	position: fixed;
	right: 10px;
	left: auto;
	bottom: 10px;
	width: 340px;
	text-align: center;
}
#share-links ul:before
{
	content: "";
}
#share-links > ul
{
	margin: 0px 10px;
}
#share-links a
{
	padding: 2px 0px;
}
body #in-page-nav > ul
{
	top: 110px;
}